{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}
{% block container %}

    {% set headerimg = commonground_resource(application.defaultConfiguration.configuration.headerimg) %}
    <div class="row background--primary background--image" style="margin-top: -20px; background: url(data:image/file;base64,{{headerimg['base64']}})">
        <div class="container" >
            <div class="col-md-4 col-md-offset-8" style="height: 500px; position:relative;">
                <div class="content-background background--secondary" style="position: absolute; bottom:0;">
                    <div class="content">
                        <h2>{{ 'news'|trans|capitalize }}</h2>
                        <ul class="list list--links list--chevrons">
                            {% if application.defaultConfiguration.configuration.news is defined %}
                                {% set news = commonground_resource(application.defaultConfiguration.configuration.news) %}
                                {% set templates = commonground_resource_list({'component': 'wrc', 'type': 'templates'},{'templateGroups.id':news.id,'limit':4,'order[dateCreated]':'desc'})['hydra:member'] %}
                                {% for template in templates %}
                                    <li><a href="/article?id={{ template.id }}" style="text-decoration: none;">{{ template.title }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.content-background -->
            </div><!-- /.col -->
        </div><!-- /.container -->
    </div><!-- /.row -->

    {#  Blokjes voorpagina  #}
    <div class="row">
        <div class="col-md-8" style="text-align: center; margin-top: 10%;">
            <div class="col-md-12">
                <ul class="list list--card">
                    <li class="card background--primary card__hover">
                        <a href="#" class="card__content">
                            <div class="card__icon flex-center color--primary"><i class="fas fa-laptop-house fa-5x" aria-hidden="true"></i></div>
                            <div class="card__body flex-center"><span class="card__title color--primary flex-center">Stages</span></div>
                        </a>
                    </li>
                    <li class="card background--primary card__hover">
                        <a href="#" class="card__content">
                            <div class="card__icon flex-center color--primary"><i class="fas fa-chalkboard-teacher fa-5x" aria-hidden="true"></i></div>
                            <div class="card__body flex-center"><span class="card__title color--primary flex-center">Tutorials</span></div>
                        </a>
                    </li>
                    <li class="card background--primary card__hover">
                        <a href="#" class="card__content">
                            <div class="card__icon flex-center color--primary"><i class="fas fa-child fa-5x" aria-hidden="true"></i></div>
                            <div class="card__body flex-center"><span class="card__title color--primary flex-center">Studenten vinden</span></div>
                        </a>
                    </li>
                    <li class="card background--primary card__hover">
                        <a href="#" class="card__content">
                            <div class="card__icon flex-center color--primary"><i class="fas fa-bullseye fa-5x" aria-hidden="true"></i></div>
                            <div class="card__body flex-center"><span class="card__title color--primary flex-center">Doelen</span></div>
                        </a>
                    </li>
                </ul>
            </div><!-- /.col -->
        </div>
    </div><!-- /.row -->

    {% set kladimg = commonground_resource(application.defaultConfiguration.configuration.kladimg) %}
    <div class="row background--primary background--image" style="margin-top: -20px; background: url(data:image/file;base64,{{kladimg['base64']}})">
        <div class="container" >
            <div class="col-md-12" style="height: 500px; position:relative;">
                <div class="content-background background--secondary" style="position: absolute; bottom:0;">
                    <div class="content">
                        <h2>{{ 'news'|trans|capitalize }}</h2>
                        <ul class="list list--links list--chevrons">
                            {% if application.defaultConfiguration.configuration.news is defined %}
                                {% set news = commonground_resource(application.defaultConfiguration.configuration.news) %}
                                {% set templates = commonground_resource_list({'component': 'wrc', 'type': 'templates'},{'templateGroups.id':news.id,'limit':4,'order[dateCreated]':'desc'})['hydra:member'] %}
                                {% for template in templates %}
                                    <li><a href="/article?id={{ template.id }}" style="text-decoration: none;">{{ template.title }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.content-background -->
            </div><!-- /.col -->
        </div><!-- /.container -->
    </div><!-- /.row -->

{% endblock %}
