{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Aanbestedingen</h1>
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            {% set challenges = commonground_resource_list({'component': 'chrc', 'type': 'tenders'},{'order[dateCreated]':'desc'})['hydra:member'] %}
            {% if challenges is not empty %}
                <ul class="list list--card list--card-small">
                {% for challenge in challenges %}
                    <li class="card card--small">
                        <div class="card__content">
                            <div class="card__thumb challenge-card-picture" style="background-image: url('https://picsum.photos/200')"></div>
                            <div class="card__body">
                                <div class="row" style=" height: 100%; width: 100%;">
                                    <div class="col-sm-8" style="padding-right: 0px;">
                                        <span class="card__title">{{ challenge.name }}</span><br>
                                        <span>{{ challenge.description|slice(0, 110)|raw ~ '...' }}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="float: right;">
                                            <div style="display: flex; flex-direction: column; justify-items: center;">
                                                <p style="margin: 0; color: grey;">budget: {{ challenge.budget }}<i style="color: grey" class="fas fa-euro-sign"></i></p>
                                                <p style="margin: 0;">deadline: {{ challenge.dateClose|date("d-m-Y H:i", "Europe/Paris") }}</p>
                                                <a href="{{ path('app_zuiddrecht_challenge', {id: challenge.id}) }}">lees meer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                    <p>Er zijn op dit moment geen aanbestedingen</p>
            {% endif %}
                <li class="card card--small">
                    <div class="card__content">
                        <div class="card__thumb challenge-card-picture" style="background-image: url('https://picsum.photos/200')"></div>
                        <div class="card__body">
                            <div class="row" style=" height: 100%; width: 100%;">
                                <div class="col-sm-12 col-md-8" style="padding-right: 0px;">
                                    <span class="card__title">Dit is de title</span><br>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Ad distinctio eos expedita ipsam laboriosam maiores</span>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <div style="">
                                        <div style="display: flex; flex-direction: column; justify-items: center;">
                                            <p style="margin: 0; color: grey;">budget: 4500.00 <i style="color: grey" class="fas fa-euro-sign"></i></p>
                                            <p style="margin: 0;">deadline: 2020-07-01</p>
                                            <a href="">lees meer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                    <li class="card card--small">
                        <div class="card__content">
                            <div class="card__thumb challenge-card-picture" style="background-image: url('https://picsum.photos/200')"></div>
                            <div class="card__body">
                                <div class="row" style=" height: 100%; width: 100%;">
                                    <div class="col-sm-12 col-md-8" style="padding-right: 0px;">
                                        {% set test = "dit is een lange text die ik even moet gaan testen om te kijken hoe ik dit het mooiste kan weergeven in de card om te voorkomen dat de card image heel lang word aangezien dit er niet uit ziet op de pagina voor challenges." %}
                                        <span class="card__title">Dit is de title</span><br>
                                        <span>{{ test|slice(0, 110)|raw ~ '...' }}</span>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div>
                                            <div style="display: flex; flex-direction: column; justify-items: center;">
                                                <p style="margin: 0; color: grey;">budget: 2400.00 <i style="color: grey" class="fas fa-euro-sign"></i></p>
                                                <p style="margin: 0;">deadline: 2020-07-15</p>
                                                <a href="">lees meer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
            </ul>
        </div>
        <div class="col-sm-12 col-lg-4" style="background-color: lightgray">
                <fieldset class="input filter">
                    <legend class="filter__title">Filters <button class="btn btn-primary" style="float: right;" type="submit">Filter</button></legend>
                    <div class="input__group input__group--text input__group--compact">
                        <label class="input__label input__label--text" for="limit">Aantal items:</label>
                        <input type="text" name="filter[limit]" id="limit" class="input__control input__control--text">
                    </div>
                </fieldset>
        </div>
    </div>

{% endblock %}
