<span class="footer__header">Voor inwoners</span>
<ul class="list list--links list--chevrons footer__nav" >
    {% if not app.user %}
    <li><a href="{{ path('app_user_login') }}?backUrl={{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}">Mijn Zuid Drecht</a></li>
    {% else %}
    <li><a href="/persoonlijk">Mijn Zuid Drecht</a></li>
    {% endif %}
    {#<li><a href="{{ path('app_tender_pitches') }}">Initiatieven</a></li>#}
    <li><a href="{{ path('app_ptc_process_stage',{"id":"c8de2851-332d-4284-b86e-ba0615694427","stage":"start"}) }}">Verhuizen</a></li>
    <li><a href="{{ path('app_ptc_process_stage',{"id":"b8955949-2d8d-4bfb-9c73-e5275bffa427","stage":"start"}) }}">Trouwen</a></li>
    <li><a href="{{ path('app_ptc_process_stage',{"id":"a8b8ce49-d5db-4270-9e42-4b47902fc817","stage":"start"}) }}">Begraven</a></li>
    <li><a href="{{ path('app_ptc_process_stage',{"id":"8a3ec75e-186c-4085-bc7c-4e1c5bf250d0","stage":"start"}) }}">Melding openbare ruimte</a></li>
</ul>

<span class="footer__header">Voor ondernemers</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/winkeliers">winkeliers</a></li>
    <li><a href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/bouw-en-techniek">Bouw en techniek</a></li>
    <li><a href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/horeca">Horeca</a></li>
</ul>

