{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row content-background background--hemelblauw" style="height: 25%; width: 100%; background-color: green; position: relative;">
        <div style="position: absolute; bottom: 0; left: 0; background-color: blue";>
            <h1>Nieuws</h1>
            <ul>
                <li><a href="">link</a></li>
                <li><a href="">link</a></li>
                <li><a href="">link</a></li>
                <li><a href="">link</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <ul class="list list--card">
                <li class="card">
                    <a href="{{ path('app_default_slug',{'slug':'subpage'}) }}" class="card__content">
                        <div class="card__body">
                            <span class="card__title">Verhuizen</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{ path('app_default_slug',{'slug':'subpage'}) }}" class="card__content">
                        <div class="card__body">
                            <span class="card__title">Trouwen</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{ path('app_default_slug',{'slug':'subpage'}) }}" class="card__content">
                        <div class="card__body">
                            <span class="card__title">Begraven</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{ path('app_default_slug',{'slug':'subpage'}) }}" class="card__content">
                        <div class="card__body">
                            <span class="card__title">Geboorte aangifte</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{ path('app_default_slug',{'slug':'subpage'}) }}" class="card__content">
                        <div class="card__body">
                            <span class="card__title">Melding openbare ruimte</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="{{ path('app_default_slug',{'slug':'subpage'}) }}" class="card__content">
                        <div class="card__body">
                            <span class="card__title">aanvraag parkeer vergunning</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <section class="contact">

            </section>
        </div>
    </div>
    <div class="row" style="height: 25%; width: 100%; background-color: green;">
        <div class="col-sm-3">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aspernatur dicta et in ipsum iusto laboriosam laborum, nesciunt, non odit possimus quia quibusdam,
                sapiente veritatis voluptatibus.
            </p>
        </div>
        <div class="col-sm-3">
            <h1>Lorem ipsum dolor.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aut autem culpa natus necessitatibus quisquam temporibus.
            </p>
        </div>
        <div class="col-sm-3">
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Alias architecto culpa, debitis deleniti dolor eos illum libero neque! Blanditiis,
                cupiditate doloremque fuga fugiat iste laborum magnam nobis porro soluta vitae.
            </p>
        </div>
        <div class="col-sm-3">
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Alias architecto culpa, debitis deleniti dolor eos illum libero neque! Blanditiis,
                cupiditate doloremque fuga fugiat iste laborum magnam nobis porro soluta vitae.
            </p>
        </div>
    </div>
</div>
{% endblock %}
