{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
</div>
{% if application is defined and application.defaultConfiguration.configuration.headerimg is defined and application.defaultConfiguration.configuration.headerimg is not empty  %}
    {% set headerimg = commonground_resource(application.defaultConfiguration.configuration.headerimg) %}
<div class="row content-background background--hemelblauw headerImage" style="background: url(data:image/file;base64,{{headerimg['base64']}})">
    {% else %}
    <div class="row content-background background--hemelblauw" style="margin-top: -20px; height: 500px; margin-top: 0px; background: url(https://images.unsplash.com/photo-1547499681-28dece7dba00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) !important; background-size: cover !important;">
        {% endif %}
        <div class="container" style="height: 500px; position: relative;">
            <div  style=" position: absolute; bottom: 15px; right: 15px; padding: 15px; margin: 0; background-color: #3669A5">
                <h1>Nieuws</h1>
                <ul class="list list--links list--chevrons">
                    {% if application.defaultConfiguration.configuration.nieuws is defined %}
                        {% set nieuws = commonground_resource(application.defaultConfiguration.configuration.nieuws) %}
                        {% set templates = commonground_resource_list({'component': 'wrc', 'type': 'templates'},{'templateGroups.id':nieuws.id,'limit':4,'order[dateCreated]':'desc'})['hydra:member'] %}
                        {% for template in templates %}
                            <li><a href="/article?id={{ template.id }}" style="text-decoration: none;">{{ template.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 50px; margin-bottom: 0;">
        <div class="processen">
            <ul>
                <li>
                    <a href="#">
                        <i style="color: white; font-size: 2em;" class="fas fa-people-carry processIcon"></i>
                        <br>
                        <span class="card__title" style="color: white;">Verhuizen</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i style="color: white; font-size: 2em;"  class="processIcon fas fa-ring"></i>
                        <br>
                        <span class="card__title" style="color: white;">Trouwen</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i style="color: white; font-size: 2em;" class="fas fa-monument processIcon"></i>
                        <br>
                        <span class="card__title" style="color: white;">Begraven</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i style="color: white; font-size: 2em;" class="fas fa-baby processIcon"></i>
                        <br>
                        <span class="card__title" style="color: white;">Geboorte aangifte</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i style="color: white; font-size: 2em;" class="fas fa-exclamation processIcon"></i>
                        <br>
                        <span class="card__title" style="color: white;">Melding openbare ruimte</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i style="color: white; font-size: 2em;" class="fas fa-parking processIcon"></i>
                        <br>
                        <span class="card__title" style="color: white;">parkeer vergunning</span>
                    </a>
                </li>
            </ul>
        </div>
                <section class="contact">
                    <h1 style="margin-bottom: 1px; ">Contact</h1>
                    <h4 style="margin-top: 0;">Openingstijden</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Maandag:</span>
                        </div>
                        <div class="col-sm-6">
                            <span>09:00 - 17:00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Dinsdag:</span>
                        </div>
                        <div class="col-sm-6">
                            <span>09:00 - 17:00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Woensdag:</span>
                        </div>
                        <div class="col-sm-6">
                            <span>09:00 - 17:00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Donderdag:</span>
                        </div>
                        <div class="col-sm-6">
                            <span>09:00 - 21:00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Vrijdag:</span>
                        </div>
                        <div class="col-sm-6">
                            <span>09:00 - 17:00</span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Telefoon</h4>
                            <span>14 020</span>
                        </div>
                    </div>
                    <a href="#"><button class="btn btn--primary" style="width: 100%;">Maak een afspraak</button></a>
                    </p>
                </section>
    </div>
    {% if application is defined and application.defaultConfiguration.configuration.newsimg is defined and application.defaultConfiguration.configuration.newsimg is not empty  %}
    {% set newsimg = commonground_resource(application.defaultConfiguration.configuration.newsimg) %}
    <div class="newsImage"  style="background: url(data:image/file;base64,{{newsimg['base64']}});">
        {% else %}
        <div  style=" margin-top: 50px; padding: 25px; background: url(https://images.unsplash.com/photo-1563122089-71f56e4e8d06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) !important; background-size: cover !important;">
            {% endif %}
            <div class="container" style="display: flex; justify-content: space-between; padding-top: 5px; padding-bottom: 5px;">
                {% if application.defaultConfiguration.configuration.nieuws is defined %}
                    {% set nieuws = commonground_resource(application.defaultConfiguration.configuration.nieuws) %}
                    {% set templates = commonground_resource_list({'component': 'wrc', 'type': 'templates'},{'templateGroups.id':nieuws.id,'limit':4, 'order[dateCreated]':'desc'})['hydra:member'] %}
                    {% set value = 1 %}
                    {% for template in templates %}
                        <div class="newsCard" id="news-{{ value }}" style="position: relative">
                            <h2>{{ template.title }}</h2>
                            <p>
                                {{ template.description }}
                            </p>
                            <a href="/article?id={{ template.id }}" style="position: absolute; bottom: 15px; right: 15px;">lees meer</a>
                        </div>
                    {% set value = value + 1 %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>



        {% endblock %}
