{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <header class="content__header col-sm-10 col-sm-offset-1">
        <a class="backlink" href="/pitches">Initiatieven</a>
        <h1 class="content__header-title">Maak hier uw initiatief aan</h1>
    </header>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 ">
            <div class="content-background">
                <div class="content ">
                                        <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <form method="post" action="{{ path('app_tender_newpitch') }}">
                                    <div class="input">
                                        <label class="input__label" for="name">Titel</label>
                                        <input type="text" id="name" name="name"
                                               class="input__control input__control--m input__control--text">
                                        <label class="input__label" for="description">Beschrijving</label>
                                        <textarea id="description"
                                                  class="input__control input__control--l input__control--text"
                                                  name="description"></textarea>
                                        <label class="input__label" for="requiredBudget">Benodigd budget <span
                                                class="label label--optional">afgerond op hele euro's</span></label>
                                        <input type="text" id="requiredBudget" name="requiredBudget"
                                               class="input__control input__control--m input__control--text">
                                        <label class="input__label" for="document">Links voor documenten</label>
                                        <input type="text" id="document" name="documents[]"
                                               class="input__control input__control--m input__control--text">
                                        <br>

                                        <input style="margin-top: 20px;" type="text" id="document" name="documents[]"
                                               class="input__control input__control--m input__control--text">
                                        <br><br>
                                        <div class="input">
                                            <button type="submit" class="btn btn--primary">Aanmaken</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p>Heeft u een top idee wat u met de community wilt delen? Begin hier uw initiatief door
                                    dit formulier in te vullen.</p>
                            </div>
                        </div>
                    </div>
                                        </div>
                </div>
            </div>
        </div>
        {#        <div class="col-sm-12 col-lg-4">#}
        {#            <div class="content-background">#}
        {#                <div class="content ">#}
        {#                    <h1>Kenmerken</h1>#}
        {#                    {% if resource.submitters is defined and resource.submitters is not empty %}#}
        {#                        <b>Aangemaakt#}
        {#                            door:</b>{% for submitter in resource.submitters %} {{ submitter }},{% endfor %}#}
        {#                        <br>#}
        {#                    {% endif %}#}
        {#                    {% if resource.dateSubmitted is defined and resource.dateSubmitted is not empty %}#}
        {#                        <b>Ingediend op: </b>{{ resource.dateSubmitted|date("d-m-Y H:i", "Europe/Paris") }}#}
        {#                        <br>#}
        {#                    {% endif %}#}
        {#                    {% if resource.budget is defined and resource.budget is not empty %}#}
        {#                        <b>Beschikbaar budget: </b>&euro; {{ resource.budget }},-#}
        {#                        <br>#}
        {#                    {% endif %}#}
        {#                    {% if resource.dateClose is defined and resource.dateClose is not empty %}#}
        {#                        <b>Datum van beëindiging: </b>{{ resource.dateClose|date("d-m-Y H:i", "Europe/Paris") }}#}
        {#                        <br>#}
        {#                    {% endif %}#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>

{% endblock %}
