{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Initiatieven</h1>
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            {% set pitches = commonground_resource_list({'component': 'chrc', 'type': 'pitches'},{'order[dateCreated]':'desc'})['hydra:member'] %}
            {% if pitches is not empty %}
            <ul class="list list--card list--card-small">
                {% for pitch in pitches %}
                    <li class="card card--small">
                        <div class="card__content">
                            <div class="card__thumb challenge-card-picture" style="background-image: url('https://picsum.photos/200')"></div>
                            <div class="card__body">
                                <div class="row" style=" height: 100%; width: 100%;">
                                    <div class="col-sm-6" style="padding-right: 0px;">
                                        <span class="card__title">{{ pitch.name|capitalize }}</span><br>
{#                                        <span>{{ pitch.description|slice(0, 110)|raw ~ '...' }}</span>#}
                                        <span><b>Benodigd budget:</b> &euro; {{ pitch.requiredBudget }},-</span>
                                        <span><b>Ingediend op:</b> {{ pitch.dateSubmitted|date("d-m-Y", "Europe/Paris") }}</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <a style="margin-top: 20px; float: right" href="{{ path('app_tender_pitch', {id: pitch.id}) }}"
                                                             rel="noopener" class="btn btn--primary"
                                                             target="_blank">Bekijk deze pitch<span
                                                class="btn__icon icon icon-arr-forward"
                                                title="" role=""></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {% else %}
                    <p>Er zijn op dit moment geen initiatieven</p>
                {% endif %}
{#                <li class="card card--small">#}
{#                    <div class="card__content">#}
{#                        <div class="card__thumb challenge-card-picture" style="background-image: url('https://picsum.photos/200')"></div>#}
{#                        <div class="card__body">#}
{#                            <div class="row" style=" height: 100%; width: 100%;">#}
{#                                <div class="col-sm-12 col-md-6" style="padding-right: 0px;">#}
{#                                    <span class="card__title">Dit is de title</span><br>#}
{#                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#                                        Ad distinctio eos</span>#}
{#                                </div>#}
{#                                <div class="col-sm-12 col-md-6">#}
{#                                    <div>#}
{#                                        <div style="display: flex; flex-direction: column; justify-items: center;">#}
{#                                            <p style="margin: 0; color: grey;">benodigd budget: 4500.00 <i style="color: grey" class="fas fa-euro-sign"></i></p>#}
{#                                            <p style="margin: 0;">ingediend op: 2020-07-01</p>#}
{#                                            <a href="">lees meer</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="card card--small">#}
{#                    <div class="card__content">#}
{#                        <div class="card__thumb challenge-card-picture" style="background-image: url('https://picsum.photos/200')"></div>#}
{#                        <div class="card__body">#}
{#                            <div class="row" style=" height: 100%; width: 100%;">#}
{#                                <div class="col-sm-12 col-md-6" style="padding-right: 0px;">#}
{#                                    <span class="card__title">Dit is de title</span><br>#}
{#                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#                                        Ad distinctio eos</span>#}
{#                                </div>#}
{#                                <div class="col-sm-12 col-md-6">#}
{#                                    <div>#}
{#                                        <div style="display: flex; flex-direction: column; justify-items: center;">#}
{#                                            <p style="margin: 0; color: grey;">benodigd budget: 4500.00 <i style="color: grey" class="fas fa-euro-sign"></i></p>#}
{#                                            <p style="margin: 0;">ingediend op: 2020-07-01</p>#}
{#                                            <a href="">lees meer</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
            </ul>
        </div>
        <div class="col-sm-12 col-lg-4" style="background-color: lightgray">
            <fieldset class="input filter">
                <legend class="filter__title">Filters <button class="btn btn-primary" style="float: right;" type="submit">Filter</button></legend>
                <div class="input__group input__group--text input__group--compact">
                    <label class="input__label input__label--text" for="limit">Aantal items:</label>
                    <input type="text" name="filter[limit]" id="limit" class="input__control input__control--text">
                </div>
            </fieldset>
        </div>
    </div>

{% endblock %}
