{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <header class="content__header">
        <a class="backlink" href="/pitches">Iniatieven</a>
    </header>
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <div class="content-background">
                <div class="content ">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>{{ resource.name|capitalize }}</h1>
                            <p>{{ resource.description }}</p>
                        </div>
                        <div class="col-md-6">
                            <img src="https://picsum.photos/350/250" alt="tender" width="100%">
                        </div>
                    </div>
                    {% if resource.tender is defined and resource.tender is not empty %}
                        <h1>Aanbesteding: {{ resource.tender.name }}</h1>
                        <p>{{ resource.tender.description }}</p>
                        <a href="{{ path('app_tender_challenge', {id: resource.tender.id}) }}">
                            <button class="btn btn--primary col-offset-3 col-6">Ga naar aanbesteding</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="content-background">
                <div class="content ">
                    <h1>Kenmerken</h1>
                    {% if resource.submitters is defined and resource.submitters is not empty %}
                        <b>Aangemaakt
                            door:</b>{% for submitter in resource.submitters %} {{ submitter }},{% endfor %}
                        <br>
                    {% endif %}
                    {% if resource.dateSubmitted is defined and resource.dateSubmitted is not empty %}
                        <b>Ingediend op: </b>{{ resource.dateSubmitted|date("d-m-Y H:i", "Europe/Paris") }}
                        <br>
                    {% endif %}
                    {% if resource.requiredBudget is defined and resource.requiredBudget is not empty %}
                        <b>Benodigd budget: </b>&euro; {{ resource.requiredBudget }},-
                        <br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
