{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}     
            <!-- .row -->
            <div class="row animation" data-animation="animation-fade-in" data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{%else%}200{% endif %}" >            
                <div class="post-heading-center">
                	<h2>Extra opties</h2>
                    <p>U kunt uiteraard ook extra opties kiezen voor uw huwelijk</p>
                </div>
	                
                {% for product in products %}
                <div class="col-sm-4"> <!-- 1 -->
                	<div class="affa-team-profile">
                       {% if product.logo is defined and product.logo is not empty%}   
                    	<figure class="team-profile-img" >
                            <img src="{{ product.logo }}" alt="Avatar" />
                        </figure>
                       {% endif %}
                        <div class="team-profile-name">
                        	<h4>{{ product.name }}</h4>
                            <p>{{ product.price }}</p>
                        </div>
                        <p>{{ product.description|raw }}<br/></p>
                        <div class="tbl-prc-footer">
                        	<!--
	                    	<a href="{# path('app_extra_view',{'id':extra.id}) #}"  class="btn btn-secondary btn-icon  btn-block" >Meer lezen</a> 
	                    	<br/>
	                    	-->
                                {% if user is not empty  %}
	                    	<a href="{{ path('app_default_add',{'id':'https://pdc.zaakonline.nl/products/'~product.id,'slug':'extras'}) }}"  class="btn btn-primary btn-icon  btn-block">Ja dit wil ik!</a> 
                            
	                    	<br/>	                    	
                           	<a href="{{ path('app_default_slug',{'slug':'betalen'}) }}"  class="btn btn-danger btn-icon  btn-block">Ik hoef geen extra opties</a> 
                    	</div>
                                {% endif %}
                    </div>
                </div>
                {% endfor %}     
                
            </div>
            <!-- .row end -->
            
		</div>
        <!-- .container end -->
{% endblock %}
