{# templates/home/index.html.twig id: c12ddf1f-40c8-4220-b2fe-2341e7e3a408 #}

{% extends 'base.html.twig' %}

{% block body %}
{#    <ul>#}
{#        {% for key, property in request.properties %}#}
{#            {% if property is iterable %}#}
{#                <li><b>{{ key }}:</b>#}
{#                <ul>#}
{#                    {% for k, p in property %}#}
{#                        <li><b>{{ k }}:</b>: {{ p }}</li>#}
{#                    {% endfor %}#}
{#                </ul>>#}
{#            {% else %}#}
{#                <li><b>{{ key }}:</b> {{ property }}</li>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </ul>#}

    <div style="margin-left: 20px" class="list-row">
        <div class="list-col">
            <b>Gedaan:</b>
            <ul class="list-icon">

                {% if request.properties.datum is defined and request.properties.datum is not empty %}
                    <li><b>Datum</b>
                        <ul class="list-icon">
                            <li>
                                <!--  Trouwdatum -->
                                <i class="fa fas fa-check"></i> {{ request.properties.datum|date("d-m-Y H:i", "Europe/Paris") }}
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.properties.partners.1 is defined and request.properties.partners.1 is not empty %}
                    {% set assent2 = commonground_resource(request.properties.partners.1) %}
                    {% set contact2 = commonground_resource(assent2.contact) %}
                    <li><b>Partner</b>
                        <ul class="list-icon">
                            <li>
                                <!--  Trouwdatum -->
                                <i class="fa fas fa-check"></i> {{ contact2.fullName }}
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.properties.getuigen is defined and request.properties.getuigen is not empty %}
                    <li>
                        <b>Getuigen</b>
                        <ul class="list-icon">
                            {% for getuige in request.properties.getuigen %}
                            {% set assent = commonground_resource(getuige) %}
                            {% set contact = commonground_resource(assent.contact) %}
                            <li>
                                <!--  Trouwdatum -->
                                <i class="fa {% if assent.status == "granted" %}fas fa-check{% else %}fa-exclamation-triangle{% endif %}"></i>{{ contact.formalName }} {% if assent.status == "granted" %}heeft ingestemd{% else %}heeft (nog) niet ingestemd{% endif %}
                            <li>
                                {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>

        </div><!-- /.list-col -->
        <div class="list-col">
            <b>Nog te doen:</b>
            <ul class="list-icon">

                {% if request.properties.datum is not defined or request.properties.datum is empty %}
                    <li><b>Datum</b>
                        <ul class="list-icon">
                            <li>
                                <!--  Trouwdatum -->
                                <i style="color: red" class="fas fa-exclamation-triangle"></i> Geen
                                datum, u
                                kunt deze <a
                                    href="{{ path('app_default_slug',{'slug':'datum-melding'}) }} ">hier</a>
                                toevoegen.
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.properties.partners.1 is not defined or request.properties.partners.1 is empty %}
                    <li><b>Partner</b>
                        <ul class="list-icon">
                            <li>
                                <!--  Trouwdatum -->
                                <i style="color: red" class="fas fa-exclamation-triangle"></i> Geen
                                partner, u
                                kunt deze <a
                                    href="{{ path('app_default_slug',{'slug':'partner-melding'}) }} ">hier</a>
                                uitnodigen.
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.properties.getuigen is not defined or request.properties.getuigen is empty or request.properties.getuigen|length < 2 %}
                    <li><b>Getuigen</b>
                        <ul class="list-icon">
                            <li>
                                <!--  Trouwdatum -->
                                <i style="color: red" class="fas fa-exclamation-triangle"></i>Niet genoeg getuigen, u
                                kunt deze <a
                                    href="{{ path('app_default_slug',{'slug':'getuige-melding'}) }} ">hier</a>
                                uitnodigen.
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.list-col -->
    </div>

    <a href="{{ path('app_default_index') }}?request={{ request.parent['@id'] }}">Terug naar hoofdverzoek</a>

{% endblock %}
