{# templates/partners/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    {# here we are going to play a small trick but we want to prevent making an commonground call  #}
    {% if request.properties.partners is defined and request.properties.partners[0] is defined %}
        {% set assent1 = commonground_resource(request.properties.partners.0) %}
        {% set contact1 = commonground_resource(assent1.contact) %}
    {% endif %}
    {% if request.properties.partners is defined and request.properties.partners[1] is defined %}
        {% set assent2 = commonground_resource(request.properties.partners.1) %}
        {% set contact2 = commonground_resource(assent2.contact) %}
    {% endif %}
    <!-- .row-custom -->
    <div class="row-custom animation" data-animation="animation-fade-in"
         data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{% else %}200{% endif %}">
        <div class="post-heading-center">
            <h2>Overig</h2>
        </div>
    </div>
    <div class="row-custom animation" data-animation="animation-fade-in"
         data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3600{% else %}400{% endif %}">
        <form method="post" action="{{ path('app_default_post',{'slug':'overig'}) }}" class="affa-form-contact">

            <div class="col-sm-6 col-md-6 col-lg-5 col-sm-offset-0 col-md-offset-0 col-lg-offset-1">
                Voordat we uw aanvraag kunnen verwerken zijn er nog een paar extra zaken die we graag zouden weten
                <div class="affa-feature-icon"> <!-- 6 -->
                    <i class="fal fa-cash-register"></i>
                    <div class="feature-text">
                        <h4>Betalen</h4>
                        {% if request is defined and request and request.properties.invoice is defined and request.properties.invoice is not empty %}
                            {% set invoice = commonground_resource(request.properties.invoice) %}
                        {% endif %}
                        {% if invoice is defined and invoice is not empty and invoice.paid == true %}
                            <h4>U heeft de opties van uw verzoek reeds betaald.</h4>
                        {% elseif request is defined and request and request.properties.order is defined and request.properties.order is not empty
                            or (invoice is defined and invoice is not empty and invoice.paid == false) %}
                            <p>U heeft een huwelijk of opties gekozen waar kosten aan zijn verbonden. U dient deze
                                kosten 6 weken voor aanvang van huwelijk te voldoen</p>
                            <p><a href="{{ path('app_default_payment') }}" class="btn btn-login btn-large">
                                    Betaal uw verzoek
                                </a></p>
                        {% else %}
                            <hp>Uw verzoek kan op dit moment niet worden omgezet naar een order</hp>
                        {% endif %}
                    </div><!-- /.feature-text -->
                </div><!-- /.affa-feature-icon -->
                <div class="affa-feature-icon"> <!-- 6 -->
                    <i class="fal fa-envelope"></i>
                    <div class="feature-text">
                        <h4>Melding</h4>
                        <p> U moet minimaal twee weken voor uw huwelijk melding maken van u huwelijk. Lees <a>hier</a>
                            meer over het doen van een melding </p>
                        <p>
                            {% if request['@id'] is defined %}
                                <a href="{{ path('app_default_slug',{'requestType':'https://vtc.huwelijksplanner.online/request_types/146cb7c8-46b9-4911-8ad9-3238bab4313e','requestParent':request['@id']}) }}"
                                   class="btn btn-primary btn-icon">
                                    Doe melding
                                </a>
                            {% endif %}
                        </p>
                    </div><!-- /.feature-text -->
                </div><!-- /.affa-feature-icon -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6s">

                <!-- Uitnodigen partner 2 -->
                <div class="affa-feature-icon"> <!-- 6 -->
                    <i class="fal fa-file-alt"></i>
                    <div class="feature-text">
                        <h4>Aanvullende gegevens</h4>
                        <p>Graag zouden wij nog het volgende van u weten</p>
                        {% if request.properties.partners[0] is not defined or request.properties.partners[0] is empty or request.properties.partners[1] is not defined or request.properties.partners[1] is empty %}

                            <p>Nodig uw partner uit om uw naamgebruik op te geven.</p>

                        {% else %}

                            {% set assent1 = commonground_resource(request.properties.partners[0]) %}
                            {% set contact1 = commonground_resource(assent1.contact) %}

                            {% set assent2 = commonground_resource(request.properties.partners[1]) %}
                            {% set contact2 = commonground_resource(assent2.contact) %}

                            <label
                                for="naamgebruik[{{ request.properties.partners[0] }}]">Naamgebruik {{ contact1.formalName }}</label>
                            <select name="naamgebruik[{{ request.properties.partners[0] }}]"
                                    id="naamgebruik[{{ request.properties.partners[0] }}]">
                                <option value="ongewijzigd" {%  if request.properties.overig is defined and request.properties.overig.naamgebruik[assent1['@id']] == "ongewijzigd" %} selected {% endif %}>ongewijzigd</option>
                                <option
                                    value="{{ contact1.familyName }} {{ contact2.familyName }}"{%  if request.properties.overig is defined and  request.properties.overig.naamgebruik[assent1['@id']] == contact1.familyName ~ " " ~ contact2.familyName  %} selected {% endif %}>{{ contact1.familyName }} {{ contact2.familyName }}</option>
                                <option
                                    value="{{ contact2.familyName }} {{ contact1.familyName }}"{%  if request.properties.overig is defined and  request.properties.overig.naamgebruik[assent1['@id']] == contact2.familyName ~ " " ~ contact1.familyName  %} selected {% endif %}>{{ contact2.familyName }} {{ contact1.familyName }}</option>
                                <option
                                    value="{{ contact2.familyName }}" {%  if request.properties.overig is defined and  request.properties.overig.naamgebruik[assent1['@id']] == contact2.familyName  %} selected {% endif %}>{{ contact2.familyName }}</option>
                            </select>

                            <label
                                for="naamgebruik[{{ request.properties.partners[1] }}]">Naamgebruik {{ contact2.formalName }}</label>
                            <select name="naamgebruik[{{ request.properties.partners[1] }}]"
                                    id="naamgebruik[{{ request.properties.partners[1] }}]">
                                <option value="ongewijzigd" {%  if request.properties.overig is defined and  request.properties.overig is defined and  request.properties.overig.naamgebruik[assent2['@id']] == "ongewijzigd"  %} selected {% endif %}>ongewijzigd</option>
                                <option
                                    value="{{ contact2.familyName }} {{ contact1.familyName }}"{%  if request.properties.overig is defined and  request.properties.overig is defined and  request.properties.overig.naamgebruik[assent2['@id']] == contact2.familyName ~ " " ~ contact1.familyName  %} selected {% endif %}>{{ contact2.familyName }} {{ contact1.familyName }}</option>
                                <option
                                    value="{{ contact1.familyName }} {{ contact2.familyName }}"{%  if request.properties.overig is defined and  request.properties.overig is defined and  request.properties.overig.naamgebruik[assent2['@id']] == contact1.familyName ~ " " ~ contact2.familyName  %} selected {% endif %}>{{ contact1.familyName }} {{ contact2.familyName }}</option>
                                <option
                                    value="{{ contact1.familyName }}"{%  if request.properties.overig is defined and  request.properties.overig is defined and  request.properties.overig.naamgebruik[assent1['@id']] == contact1.familyName %} selected {% endif %}> {{ contact1.familyName }}</option>
                            </select>

                        {% endif %}

                        <label for="nederlands">Spreekt u beiden Nederlands?</label>
                        <select name="nederlands" id="nederlands">
                            <option value="ja" selected>Ja</option>
                            <option value="nee">Nee</option>
                        </select>

                        <label for="opmerkingen">Opmerkingen / verzoeken</label>
                        <textarea name="opmerkingen" id="opmerkingen">
                            </textarea>

                        <button type="submit" class="btn btn-success btn-lg btn-block btn-icon"><i
                                class="far fa-envelope"></i> Opslaan
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- .row-custom end -->
{% endblock %}
