{# templates/partners/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    {# here we are going to play a small trick but we want to prevent making an commonground call  #}
    {% if request.properties.partners is defined and request.properties.partners[0] is defined  %}
        {% set assent1 = commonground_resource(request.properties.partners.0) %}
        {% set contact1 = commonground_resource(assent1.contact) %}
    {% endif %}
    {% if request.properties.partners is defined and request.properties.partners[1] is defined  %}
        {% set assent2 = commonground_resource(request.properties.partners.1) %}
        {% set contact2 = commonground_resource(assent2.contact) %}
    {% endif %}
    <!-- .row-custom -->
    <div class="row-custom animation" data-animation="animation-fade-in" data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{%else%}200{% endif %}" >
        <div class="post-heading-center">
            <h2>Overig</h2>
        </div>
	</div>
    <div class="row-custom animation" data-animation="animation-fade-in" data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3600{%else%}400{% endif %}" >
        <form method="post" action="{{ path('app_default_post_request') }}" class="affa-form-contact" >

        <div class="col-sm-6 col-md-6 col-lg-5 col-sm-offset-0 col-md-offset-0 col-lg-offset-1">
            Voordat we uw aanvraag kunnen verwerken zijn er nog een paar extra zaken die we graag zouden weten
                <div class="affa-feature-icon"> <!-- 6 -->
                    <i class="fal fa-cash-register"></i>
                    <div class="feature-text">
                        <h4>Betalen</h4>
                        {% if request is defined and request and request.properties.order is defined and request.properties.order is not empty %}
                 		<p>U heeft een huwelijk of opties gekozen waar kosten aan zijn verbonden. U dient deze kosten 6 weken voor aanvang van huwelijk te voldoen</p>
                  		<p><a href="https://www.ideal.nl/demo/" class="btn btn-login btn-large" >
    						<i class="fas fa-money-bill-wave" ></i>
    			       		Betaal uw verzoek
    		        	</a></p>
    		        	{% else %}
                     	<hp>Uw verzoek kan op dit moment niet worden omgezet naar een order</hp>
    		        	{% endif %}
                    </div><!-- /.feature-text -->
                </div><!-- /.affa-feature-icon -->
                <div class="affa-feature-icon"> <!-- 6 -->
                    <i class="fal fa-envelope"></i>
                    <div class="feature-text">
                        <h4>Melding</h4>
                        <p> U moet minimaal twee weken voor uw huwlijk melding maken van u huwelijk. Leest <a>hier</a> meer over het doen van een melding </p>
                        <p> 
                        {% if request['@id']  is defined %}
                			<a href="{{ path('app_default_slug',{'requestType':'https://vtc.zaakonline.nl/request_types/146cb7c8-46b9-4911-8ad9-3238bab4313e','requestParent':'https://vrc.zaakonline.nl'~request['@id']}) }}" class="btn btn-primary btn-icon" >
                				<i class="fas fa-share-square"></i> 
                			 	Doe melding
                		    </a>
                         {% endif %}
                  		</p>
                    </div><!-- /.feature-text -->
                </div><!-- /.affa-feature-icon -->
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6s">
            
                <!-- Uitnodigen partner 2 -->
                <div class="affa-feature-icon"> <!-- 6 -->
                    <i class="fal fa-file-alt"></i>
                    <div class="feature-text">
                        <h4>Aanvullende gegevens</h4>
                        <p>Graag zouden wij nog het volgende van u weten</p>
                            {% if request.properties.partners is defined %}
                                {% for partner in request.properties.partners  %}
                                    <label for="naamgebruik[{{ partner }}]">Naamgebruik {{ commonground_resource(commonground_resource(partner).contact).formalName }}</label>
                                    <select name="naamgebruik[{{ partner }}]" id="naamgebruik[{{ partner }}]">
                                        <option value="ongewijzigd" selected >ongewijzigd</option>
                                        <option value="eigennaam, partnernaam">eerst uw eigen achternaam, gevolgd door de achternaam uw partner</option>
                                        <option value="partnernaam, eigennaam">eerst de achternaam van uw partner, gevolgd door uw eigen achternaam</option>
                                        <option value="partnernaam">alleen de achternaam van uw partne</option>
                                    </select>   
                                    {% endfor %}  
                            {% endif %}                          
                            
                            <label for="nederlands">Spreekt u bijde Nederlands?</label>
                            <select name="nederlands" id="nederlands">
                                <option value="ja" selected>Ja</option>
                                <option value="nee">Nee</option>
                            </select>                    
                                                                                    
                            <label for="opmerkingen">Opmerkingen / verzoeken</label>
                            <textarea name="opmerkingen" id="opmerkingen">
                            </textarea>

                            <button type="submit" class="btn btn-success btn-lg btn-block btn-icon"><i class="far fa-envelope"></i> Opslaan</button>
                        </form>
                    </div>
                </div>
        </div>

    </div>
    <!-- .row-custom end -->
{% endblock %}


