{# templates/partners/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    {# here we are going to play a small trick but we want to prevent making an commonground call  #}
    {% if request.properties['partner-melding'] is defined and request.properties['partner-melding'][0] is defined %}
        {% set assent1 = commonground_resource(request.properties['partner-melding'].0) %}
        {% set contact1 = commonground_resource(assent1.contact) %}
    {% endif %}
    {% if request.properties['partner-melding'] is defined and request.properties['partner-melding'][1] is defined %}
        {% set assent2 = commonground_resource(request.properties['partner-melding'].1) %}
        {% set contact2 = commonground_resource(assent2.contact) %}
    {% endif %}
    <!-- .row-custom -->
    <div class="row-custom animation" data-animation="animation-fade-in"
         data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{% else %}200{% endif %}">
        <div class="post-heading-center">
            <h2>Uw partner</h2>
        </div>

        <div class="col-center">
            <figure class="margin-bottom40 ">
                <img src="images/content/elements/MakeItKnown.png"/>
            </figure>
        </div>

        <div class="col-left">
            {% if assent1 is defined and assent1 is not empty %}
                <div class="affa-feature-icon"> <!-- 1 -->
                    <i class="fas fa-user"></i>
                    <div class="feature-text">
                        <div class="col-md-2">
                            {% if (contact1.emails is defined and contact1.emails is not empty and contact1.emails[0].email != "") or (contact1.telephones is defined and contact1.telephones is not empty and contact1.telephones[0].telephone != "") %}
                                <a class="float-left" href="#editPartnerModal" data-toggle="modal"
                                   data-target="#editPartnerModal"><i
                                        style="color: #2A5587; background-color:white;font-size:16px"
                                        class="fa  fa-edit"></i></a>
                            {% endif %}
                        </div>
                        <div class="col-md-10">
                            <h4>
                                {{ contact1.name }}
                            </h4>
                        </div>
                        <p>
                            Status: {{ assent1.status|trans }}


                            <br><b>Voornaam:</b> {{ contact1.givenName }}
                            <br><b>Achternaam:</b> {{ contact1.familyName }}

                        </p>
                    </div>
                </div>


                <div class="affa-feature-icon"> <!-- 2 -->
                    <i class="fas fa-home "></i>
                    <div class="feature-text">
                        <h4>Adres en contact</h4>
                        <p>
                            {% if contact1.adresses is defined  and contact1.adresses is not empty %}
                                <br> {{ contact1.adresses[0].street }}  {{ contact1.adresses[0].houseNumber }}
                                <br> {{ contact1.adresses[0].postalCode }}  {{ contact1.adresses[0].locality }}
                            {% endif %}
                            {% if contact1.emails is defined and contact1.emails is not empty %}
                                <br><b>Email:</b> {{ contact1.emails[0].email }}
                            {% endif %}
                            {% if contact1.telephones is defined and contact1.telephones is not empty and contact1.telephones[0].telephone != "" %}
                                <br><b>Telefoon</b></b> {{ contact1.telephones[0].telephone }}
                            {% endif %}
                            <br/>
                        </p>
                    </div>
                </div>

                <!-- Bijwerken partner 1 -->
                <div class="affa-feature-icon">
                    {% if (contact1.emails is not defined or contact1.emails is empty or contact1.emails[0].email == "") or (contact1.telephones is not defined or contact1.telephones is empty or contact1.telephones[0].telephone == "")  %}
                        <i class="fas fa-envelope"></i>
                        <div class="feature-text">


                            <h4>Uw contact gegevens</h4>
                            <p>We willen graag nog een paar dingen van u weten</p>
                            <br/>

                            <form method="post" action="{{ path('app_default_updateassent',{'id':assent1.id}) }}"
                                  class="affa-form-contact">
                                <div class="submit-status"></div>
                                {% if contact1.emails is not defined or contact1.emails is empty or contact1.emails[0].email == "" %}
                                    <label for="partner_email">Email Adres <span class="required">*</span></label>
                                    <input type="text" name="email" placeholder="john@do.nl"
                                           value="{% if contact1.emails is defined and contact1.emails is not empty %}{{ contact1.emails[0].email }}{% endif %}"
                                           required/>
                                {% endif %}
                                {% if contact1.telephones is not defined or contact1.telephones is empty or contact1.telephones[0].telephone == "" %}
                                    <label for="partner_telefoonnummer">Telefoonnummer</label>
                                    <input type="text" name="telephone" placeholder="+31 6 12345678"
                                           value="{% if contact1.telephones is defined and contact1.telephones is not empty %}{{ contact1.telephones[0].telephone }}{% endif %}"/>
                                {% endif %}
                                <button type="submit" class="btn btn-success btn-lg btn-block btn-icon"><i
                                        class="far fa-envelope"></i> Opslaan
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="col-right">
            <!-- NAW gegevens partner 2 -->
            {% if assent2 is defined and assent2 is not empty %}
                <div class="affa-feature-icon">
                    <i class="fas fa-user "></i>
                    <div class="feature-text">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>
                                    {{ contact2.name }}
                                </h4>
                            </div>
                            <div class="col-md-2">
                                <a class="float-right" href="#editPartner2Modal" data-toggle="modal" data-target="#editPartner2Modal"><i
                                        style="color: #2A5587; background-color:white;font-size:16px"
                                        class="fa  fa-edit"></i></a>
                            </div>
                        </div>
                        <p>
                            <b>Status:</b> {% if assent2.status == "requested" %} aangevraagd {% else %} {{ assent2.status|trans }} {% endif %}

                            <br><b>Voornaam:</b> {{ contact2.givenName }}
                            <br><b>Achternaam:</b> {{ contact2.familyName }}

                        </p>
                    </div>
                </div>

                <!-- Overige gegevens partner 2 -->
                <div class="affa-feature-icon"> <!-- 5 -->
                    <i class="fas fa-home"></i>
                    <div class="feature-text">
                        <h4>Adres en contact</h4>
                        {% if contact2.adresses is defined and contact2.adresses is not empty %}
                            <br> {{ contact2.adresses[0].street }}  {{ contact2.adresses[0].houseNumber }}
                            <br> {{ contact2.adresses[0].postalCode }}  {{ contact2.adresses[0].locality }}
                        {% endif %}
                        {% if contact2.emails is defined and contact2.emails is not empty %}
                            <br><b>Email:</b> {{ contact2.emails[0].email }}
                        {% endif %}
                        {% if contact2.telephones is defined and contact2.telephones is not empty and contact2.telephones[0].telephone != "" %}
                            <br><b>Telefoon</b></b> {{ contact2.telephones[0].telephone }}
                        {% endif %}
                    </div>
                </div>

                <!-- Bijwerken partner 2 -->
                <div class="affa-feature-icon">
                    {% if contact2.emails is not defined or contact2.emails is empty or contact2.emails[0].email is empty
                        or contact2.telephones is not defined or contact2.telephones is empty or contact2.telephones[0].telephone is empty %}
                        <i class="fas fa-envelope"></i>
                        <div class="feature-text">

                            <h4>Contact gegevens van uw partner</h4>
                            <p>Uiteraard willen we ook uw partner graag kunnen bereiken.</p>
                            <br/>

                            <form method="post" action="{{ path('app_default_updateassent',{'id':assent2.id}) }}"
                                  class="affa-form-contact">
                                <div class="submit-status"></div>
                                {% if contact2.emails is not defined or contact2.emails is empty or contact2.emails[0].email is empty %}
                                    <label for="partner_email">Email Adres <span class="required">*</span></label>
                                    <input type="email" name="email" placeholder="john@do.nl"
                                           value="{% if contact2.emails is defined %}{{ contact2.emails[0].email }}{% endif %}"
                                           required/>
                                {% endif %}
                                {% if contact2.telephones is not defined or contact2.telephones is empty or contact2.telephones[0].telephone is empty %}
                                    <label for="partner_telefoonnummer">Telefoonnummer</label>
                                    <input type="text" name="telephone" placeholder="+31 6 12345678"
                                           value="{% if contact2.telephones[0].telephone is defined %}{{ contact2.telephones[0].telephone }}{% endif %}"/>
                                {% endif %}
                                <button type="submit" class="btn btn-success btn-lg btn-block btn-icon"><i
                                        class="far fa-envelope"></i> Opslaan
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <!-- Uitnodigen partner 2 -->
                <div class="affa-feature-icon"> <!-- 6 -->
                    <i class="fas fa-envelope"></i>
                    <div class="feature-text">
                        <h4>{% if request.properties.type is defined %}Vraag uw partner ten {{ request.properties.type|capitalize }}{% else %}Nodig uw partner uit{% endif %}
                            .</h4>
                        <p>Want dit doet u natuurlijk samen.</p>
                        {#<p>U kunt via deze knop uw partner laten inloggen om uw verzoek te accepteren.</p>
                        <br/>
                        <a href="{{ path('app_default_set',{'slug':'partner','value':null,'forceAssent':true}) }}" class="btn btn-success btn-lg btn-block btn-icon"><i class="far fa-lock"></i> Uw partner laten inloggen</a>
                        <br/>
                        #}
                        <p>Of u partner via bericht ten huwelijk vragen.</p>

                        <form method="post" action="{{ path('app_default_post',{'slug':'partner-melding'}) }}"
                              class="affa-form-contact">
                            <div class="submit-status"></div> <!-- submit status -->

                            <label for="givenName">Voornaam(en) <span class="required">*</span></label>
                            <input type="text" name="givenName" placeholder="John" required/>
                            <label for="familyName">Achternaam <span class="required">*</span></label>
                            <input type="text" name="familyName" placeholder="Do" required/>
                            <label for="email">Email Adres <span class="required">*</span></label>
                            <input type="email" name="email" placeholder="john@do.nl" required/>
                            <label for="telephone">Telefoonnummer</label>
                            <input type="tel" name="telephone" placeholder="+31 6 12345678"/>

                            <br/><br/>

                            <button type="submit" class="btn btn-success btn-lg btn-block btn-icon"><i
                                    class="far fa-envelope"></i> Per bericht Uitnodigen
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>
    <!-- .row-custom end -->

    {# Modals #}


    {% if contact1.emails is defined and contact1.emails is not empty or contact1.telephones is defined and contact1.telephones is not empty %}
        <div class="modal fade" style="text-align: center" id="editPartnerModal" tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog model-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>Gegevens {{ contact1.name }} wijzigen</b></h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form method="post" action="{{ path('app_default_updateassent',{'id':assent1.id}) }}">
                            <p><b>Email wijzigen:</b></p>
                            <input class="form-control" type="email" name="email"
                                   value="{% if contact1.emails is defined and contact1.emails is not empty %}{{ contact1.emails[0].email }}{% endif %}">
                            {% if contact1.telephones is defined and contact1.telephones is not empty and contact1.telephones[0].telephone is not empty %}
                                <p><b>Telefoonnummer wijzigen:</b></p>
                                <input class="form-control" type="text" name="telephone"
                                       value="{% if contact1.telephones is defined and contact1.telephones is not empty %}{{ contact1.telephones[0].telephone }}{% endif %}">
                            {% endif %}
                            <button type="submit" class="btn btn-success mx-auto m-4">
                                Wijzigen
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if assent2 is defined and assent2 is not empty %}
        <div class="modal fade" style="text-align: center" id="editPartner2Modal" tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog model-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>Gegevens {{ contact2.name }} wijzigen</b></h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form method="post" action="{{ path('app_default_updateassent',{'id':assent2.id}) }}">

                            <p><b>Voornaam wijzigen:</b></p>
                            <input class="form-control" type="text" name="givenName" value="{{ contact2.givenName }}">

                            <p><b>Achternaam wijzigen:</b></p>
                            <input class="form-control" type="text" name="familyName" value="{{ contact2.familyName }}">

                            <p><b>Email wijzigen:</b></p>
                            <input class="form-control" type="email" name="email"
                                   value="{% if contact2.emails is defined and contact2.emails is not empty %}{{ contact2.emails[0].email }}{% endif %}">
                            {% if contact2.telephones is defined and contact2.telephones is not empty and contact2.telephones[0].telephone is not empty %}
                                <p><b>Telefoonnummer wijzigen:</b></p>
                                <input class="form-control" type="text" name="telephone"
                                       value="{% if contact2.telephones is defined and contact2.telephones is not empty %}{{ contact2.telephones[0].telephone }}{% endif %}">
                            {% endif %}
                            <button type="submit" class="btn btn-success mx-auto m-4">
                                Wijzigen
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
