{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
            <!-- .tbl-pricing -->
            <div class="tbl-pricing tbl-prc-recommended animation" data-animation="animation-fade-in" data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{%else%}200{% endif %}" > 
            	{% if request.properties.type is defined and request.properties.type == 'omzetten' %}            	
                
                	<div class="post-heading-center animation" data-animation="animation-fade-in-down">
                    	<h2>U heeft gekozen voor omzetten, en heeft geen plechtigheid nodig</h2>
                   	</div>
                    <div class="col-md-12 text-center">
           				<i class="fas fa-check fa-6x " data-animation="animation-fade-in-down" ></i>
                    </div><!-- /.col -->
               
            	{% else %}                
                <!-- .row -->
                <div class="row">
        	
                    <div class="post-heading-center">
                    	<h2>Hoe wilt u gaan trouwen ?</h2>
                    </div>
	                            
                    {% for product in products %} 
                    <div class="col-sm-4 tbl-prc-col"> <!-- 1  -->
                    	<div class="tbl-prc-wrap">
                        	<div class="tbl-prc-heading">
                            	<h4>
                                	{% if request is not empty and request.properties.plechtigheid is defined and request.properties.plechtigheid is not empty and product.id == request.properties.plechtigheid %}
    								<i class="fas fa-check"></i>
                                    {%  endif  %}                            	
                                    {{ product.name }}
                                </h4>
                            </div>
                            <div class="tbl-prc-price bg-yellow">
                                <h5>&euro; {{ product.price / 100 }} </h5>
                                {# <p>{{ product.description|raw }}</p> #}
                            </div>
                            <ul class="tbl-prc-list">
                                <li>Eerste mogelijkheid: <b> n.v.t</b></li>
                            </ul>
                            {{ product.description|raw }}
                            <div class="tbl-prc-footer">
	                            <a href="{{ path('app_default_view',{'id':product.id,'slug':'plechtigheid-kiezen'}) }}"  class="btn btn-secondary btn-icon  btn-block" >Meer lezen</a> 
                                {% if user is not empty  %}
	                            <br/><br/>
	                            <a href="{{ path('app_default_set',{'id':'https://pdc.zaakonline.nl/products/'~product.id,'slug':'plechtigheid'}) }}"  class="btn btn-primary btn-icon  btn-block">Ja dit wil ik!</a> 
                                {% endif %}
                            </div>
                        </div>
                    </div>                    
                    {% endfor %}        
                         
                    
                </div>
                <!-- .row end -->
                {% endif %}
            </div>
            <!-- .tbl-pricing end -->        
{% endblock %}
