{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block headercontent %}
    <!-- .header-content -->
    <div class="header-content">

        <!-- .container -->
        <!-- /.container -->
    </div><!-- /.header-content -->
{% endblock %}

{% block body %}
    <div class="wrap-container8040 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h2 id="verhuizen" style="color: #4386FB">Betaal Service</h2>
                            <a href="https://github.styleci.io/repos/206145303" target="_blank"><img src="https://github.styleci.io/repos/206145303/shield?branch=master" alt="StyleCI"></a>
                            <a href="https://github.com/ConductionNL/betaalservice/actions?query=workflow%3A"Docker+Image+CI"" target="_blank"><img src="https://github.com/ConductionNL/betaalservice/workflows/Docker%20Image%20CI/badge.svg?branch=master" alt="github"></a>
               
                            <p>Het Betalen Component handelt, bij voorkeur in samenwerking met het Orderregistratie Component, betalingen af. 
                            Hiervoor maakt het facturen aan en meldt deze (indien gewenst) bij een payment provider aan. 
                            Als laatste worden de resultaten van de payment provider verwerkt, waarmee een invoice overzicht wordt gecreëerd dat kan worden gebruikt door zowel organisatie als klanten.</p>  

                            <p>Indien gewenst kan het Betalen Component in samenwerking met het WRC (sjablonen), BS (mail en sms) en het Queue Component, 
                            worden ingezet voor de opvolging van betalingen in de trant van herinneringen en aanmaningen.</p>
                            <br>
                            <img src="{{ asset('images/trouwen.png') }}" width="110px">
                            <img src="{{ asset('images/verhuizen.png') }}" width="110px" style="margin-left: 30px">
                            <img src="{{ asset('images/overlijden.png') }}" width="110px" style="margin-left: 30px">
                            <br>
                            <br>
                            <a href="https://github.com/ConductionNL/betaalservice" class="btn-custom btn-more-link " target="_blank"> Bekijk repository</a>
                            <a href="#" class="btn-custom btn-more-link " target="_blank"> bekijk documentatie</a>
                        </div><!-- ./col-heading -->
                    </div><!-- ./col-text -->
                </div><!-- ./col -->
                <div class="col-sm-10 col-md-5 col-lg-5">
                    <img src={{ asset('images/content/Componenten/betalen/1280w/Lichtblauw_vlak.png') }} width="100%">
                </div><!-- ./col -->
            </div><!-- ./row -->
        </div><!-- ./container -->
    </div><!-- ./wrap-container -->


    {{ include('/widgets/contact.html.twig') }}


{% endblock %}

