{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <!-- .wrap-container -->
    <div class="wrap-container">

        <!-- .container -->
        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-sm-push-6">

                    <img class="img-responsive" src="{{ asset('images/Commonground_afb1.jpg') }}">

                </div>

                <div class="col-sm-6 col-sm-pull-6">
                    <div class="margin-bottom40 post-heading-left-orange">
                        <br>
                        <br>
                        <h2 style="color: #FAB702">Common Ground</h2>
                    </div>

                    <h5>Gemeenten hebben een nieuwe, moderne, gezamenlijke informatievoorziening nodig voor het
                        uitwisselen
                        van
                        gegevens.
                        Want het huidige stelsel voor gegevensuitwisseling maakt het lastig om snel en flexibel te
                        vernieuwen,
                        te voldoen aan privacywetgeving en efficiënt om te gaan met data.
                        Dat staat de verbetering van de gemeentelijke dienstverlening in de weg.
                        Dus tijd voor een nieuwe beweging :
                        Common Ground werd geboren, waarbij hervorming van de huidige gemeentelijke
                        informatievoorziening,
                        deelbaarheid, data bij de bron en vooral de burger centraal staat.</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- .wrap-container -->
    <div class="wrap-container conduction-orange">

        <!-- .container -->
        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-sm-push-6">

                    <img class="img-responsive" src="{{ asset('images/Commonground_afb2.jpg') }}">

                </div>

                <div class="col-sm-6 col-sm-pull-6">

                    <div style="color: white" class="margin-bottom40 post-heading-left">

                        <h2 style="color: white; margin-top: 52px">Conduction <i class="fas fa-heart"></i> Common Ground
                        </h2>

                    </div>

                    <h5>Wij geloven in online gemeenschappen. Wij geloven in delen, duurzaamheid en transparantie.
                        Vanuit deze gedachte zijn we ook toegetreden tot het Common Ground initiatief van de Nederlandse
                        Gemeenten.
                        Binnen dit initiatief staat samenwerking en publiek eigenaarschap centraal. Sinds 3 Juli 2019
                        zijn
                        wij
                        ook toegetreden tot het groeipact Common Ground.
                        Met het ondertekenen van dit convenant proberen wij een actieve bijdrage te leveren aan het
                        succes
                        van
                        Common Ground.</h5>

                </div>
            </div>
        </div>
    </div>

    <!-- .wrap-container -->
    <div style="padding-top: 40px" class="wrap-container conduction-grey">

    <!-- .container -->
    <div class="container">

        <div class="row">

            <div class=" col-sm-12 col-md-6 col-md-push-6">

                <img class="img-responsive" src="{{ asset('images/Commonground_afb3.jpg') }}">

            </div>

            <div class="col-sm-12 col-md-6 col-md-pull-6">

                <div class="margin-bottom40 post-heading-left">

                    <h2>Onze componenten en successen</h2>

                </div>

                <h5>Het Afgelopen jaar is Conduction, in partnerschap met overheidsorganisaties, als ontwikkelpartij
                    bezig geweest met het ontwikkelen van componenten en applicaties voor Common Ground. De
                    huwelijksplanner samen met Utrecht en ‘verhuizen’ samen met ‘s Hertogenbosch, Eindhoven en de
                    Solviteers, zijn onze eerste projecten en daar zijn wij reuze trots op. Alle componenten en
                    applicaties zijn open source beschikbaar en deelbaar. Benieuwd naar ondersteuning op een component
                    of het ontwikkelen van uw eigen component? Dit is wat wij voor u kunnen betekenen:</h5>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-12 col-md-6 col-md-push-6">

                <img class="img-responsive" src="{{ asset('images/Commonground_afb3.jpg') }}"
                     style="visibility: hidden">

            </div>


            <div class="col-sm-12  col-md-6 col-md-pull-6">

                <div class="margin-bottom40 post-heading-left">

                    <h4>Common Ground as a service</h4>

                </div>

                <h5>Uw gemeente wil graag aan de slag met Common Ground, of wil een Common Ground applicatie
                    gebruiken.
                    Maar u heeft nog geen ervaring met kubernetes en of het draaien van Common Ground applicaties?
                    Geen probleem, we ontzorgen u van A tot Z en verzorgen zowel het beheer van uw omgevingen,
                    certificaten als het installeren en onderhouden van componenten als applicaties.
                    Zo bent u snel online zonder de zorgen. Wilt u later de omgeving in eigen beheer?
                    Geen probleem, wij dragen de omgeving graag aan u over. Zo heeft u een snelle en risicoloze
                    manier
                    om als organisatie te experimenteren met de kracht van Common Ground.</h5>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-6 col-sm-push-6">

                <img class="img-responsive img-fluid" src="{{ asset('images/Commonground_afb4.jpg') }}"
                     style="margin-top: -130px ">

            </div>

            <div class="col-sm-6 col-sm-pull-6">

                <div class="margin-bottom40 post-heading-left">

                    <h4>Beheer en ondersteuning</h4>

                </div>

                <h5>Wilt u een open source component of applicatie gebruiken van Conduction, maar wilt u wel
                    graag de
                    zekerheid van ondersteuning en een helpdesk?
                    Dat kan, wij bieden zowel abonnementen als strippenkaarten voor praktische en technische
                    ondersteuning.
                    Daarnaast kunnen wij op verzoek ook trainingen faciliteren. Zo combineert u de vrijheid
                    van open
                    source met de zekerheid van een contractuele beschikbaarheidsafspraak (SLA).</h5>
                <br>

                <div class="margin-bottom40 post-heading-left">


                    <h4>Advies</h4>

                </div>

                <h5>Bij de ontwikkelingen van onze componenten, applicaties en diensten heeft Conduction
                    veel
                    ervaring
                    opgedaan met het ontwikkelen en werken volgens het Common Ground principe.
                    Deze ervaring delen wij uiteraard graag in de vorm van documentatie en tutorials, maar
                    is er
                    behoefte aan meer praktische, inhoudelijke of langdurige ondersteuning,
                    dan behoort dat zeker ook tot de mogelijkheden!.</h5>
                <br>
                <div class="margin-bottom40 post-heading-left">

                    <h4>Ontwikkeling</h4>

                </div>

                <h5>De afgelopen tijd heeft conduction geïnvesteerd in een proto component en proto
                    applicatie.
                    Die
                    gebruikt kunnen worden om snel Common Ground development te faciliteren.
                    Deze zijn uiteraard open source te gebruiken en kunt u hier vinden. Heeft u echter
                    behoefte
                    aan
                    ondersteuning of uitvoering bij ontwikkeling dan leveren wij dat natuurlijk graag.
                    Het ontwikkelen van Common Ground componenten en applicaties is onze kernactiviteit
                    en
                    we
                    zijn
                    altijd benieuwd hoe we u kunnen helpen uw open source droom te realiseren. </h5>
                <br>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6 col-sm-push-6">

                <img class="img-responsive" src="{{ asset('images/Commonground_afb5.jpg') }}"
                     style="margin-top: -230px ">

            </div>

            <div class="col-sm-6 col-sm-pull-6">

                <div class="margin-bottom40 post-heading-left">

                    <h4>Community</h4>

                </div>

                <h5>Eenmaal ontwikkelde componenten moeten ook worden onderhouden en doorontwikkeld, op verzoek kan
                    Conduction hierbij ondersteunen. Dit is een maatwerk afspraak naar behoefte, waarbij u bijvoorbeeld
                    kunt denken aan (kleine) updates van code, veiligheidsupdates of zelfs het dragen van een
                    gebruikersgroep.</h5>
            </div>
        </div>
    </div>


    <div class="wrap-container conduction-white">
        <div class="container">
            <div class="margin-bottom40 post-heading-left" style="color: #FAB702; padding-top: 20px">
                <div class="row">
                    <div class="col-md-6">
                        <div class="post-heading-left-orange">
                            <h2 style="color: #FAB702">Join!</h2>
                        </div>

                        <div class="ml-5">
                            <h6>Common Gound is voor en van iedereen.
                                Wilt u ook bijdragen aan het succes van Common Ground, bel, mail of stuur ons een
                                berichtje
                                via de chat, ook voor vragen uiteraard.
                                Wij gaan graag samen met u aan de slag!
                            </h6>

                            <a href="https://share.hsforms.com/1v2XzjkSpSumDa_q-O69MKg3mxau"
                               class="btn-custom btn-more-link ">
                                Contact</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    {{ include('/widgets/contact.html.twig') }}

{% endblock %}