{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block headercontent %}
    <!-- .header-content -->
    <div class="header-content">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="header-text" style="padding-top: 0">
                        <div class="post-heading-left-white header-heading">
                            <h1>Wie zijn wij?</h1>
                        </div>
                        <p style="margin-top: -35px">Ons team bestaat uit een bijzondere mix van persoonlijkheden en
                            kwaliteiten, van creatief tot idealistisch en pragmatisch.
                            We helpen graag bij het handen en voeten geven aan goede ideeën en mooie initiatieven.
                            Voornamelijk door middel van onze techniek, maar wij zijn ook altijd bezig met eigen ideeën.
                            Het bedenken en ontwikkelen van vernieuwende online platformen-communities en deze
                            vervolgens uitrollen, ‘that’s what makes us tick’.</p>
                        <br>
                        <a href="/contact"
                           style="font-weight: bold; text-transform: uppercase; font-size: 15px ;color: white; padding: 7.5px 15px 7.5px 15px; border-radius: 25px; border: 2.5px solid white;">
                            Contact</a>
                    </div>
                </div><!-- /.col -->

                <div class="col-sm-6">
                    <div class="header-img">
                        <figure class="animation" data-animation="animation-fade-in-right">
                        <img class="img-responsive" src="{{ asset('images/Conduction_HOME_0000_afb1.png') }}">
                        </figure>
                    </div>
                    <br>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.header-content -->
{% endblock %}

{% block body %}
    <!-- .wrap-container -->
    <div class="wrap-container8040">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <div class="col-sm-10 col-md-7 col-lg-7">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h1 style="color: #4386FB">Ruben</h1>



                        <h4 style="color: #4386FB">Omdenker. Lead developer en het brein achter de techniek</h4>
                        <p >Ruben is een omdenker en een bouwer. Hij weet de angel van een
                            probleem om te buigen naar een oplossing voor hetzelfde probleem. Daarbij is hij een echte
                            bouwer, of dat nou gaat over code of een community, hij is van vele markten thuis.</p>

                            <br>
                            <br>
                        <a href="https://www.linkedin.com/in/rubenlinde/" style="margin-right: 20px; font-weight: bold; text-transform: uppercase; font-size: 15px ;color: #4376FC; padding: 7.5px 15px 7.5px 15px; border-radius: 25px; border: 2.5px solid #4376FC;"><i class="fab fa-linkedin"> </i> LinkedIn</a>

                        <a href="mailto:ruben@conduction.nl" style="font-weight: bold; text-transform: uppercase; font-size: 15px ;color: #4376FC; padding: 7.5px 15px 7.5px 15px; border-radius: 25px; border: 2.5px solid #4376FC;"><i class="fa fa-envelope"></i>
                            Email</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-md-5 col-lg-5">
                    <figure class="animation col-img40 margin-bottom40" data-animation="animation-fade-in-right">
                        <img src="{{ asset('images/Conduction-website_losgeknipt_0010_afb11.png') }}">
                    </figure>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- .wrap-container end -->



    <!-- .wrap-container -->
    <div class="wrap-container8040 bg-grey">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h1 style="color: #4386FB">Matthias</h1>
                            <h4 style="color: #4386FB">Bewaker van de kwaliteit en commercieel.</h4>


                        <p>Matthias kenmerkt zich door zijn sterke interesse in techniek, zijn
                            pragmatische instelling, zijn hoge doorzettingsvermogen en zijn goede communicatieve
                            vaardigheden. Matthias komt met ongewone oplossingen voor hardnekkige problemen.</p>
                            <br>
                            <br>
                        <a href="https://www.linkedin.com/in/matthiasoliveiro/" style="margin-right: 20px; font-weight: bold; text-transform: uppercase; font-size: 15px ;color: #4376FC; padding: 7.5px 15px 7.5px 15px; border-radius: 25px; border: 2.5px solid #4376FC;"><i class="fab fa-linkedin"> </i> LinkedIn</a>
                        &nbsp; &nbsp;
                        <a href="mailto:matthias@conduction.nl" style="font-weight: bold; text-transform: uppercase; font-size: 15px ;color: #4376FC; padding: 7.5px 15px 7.5px 15px; border-radius: 25px; border: 2.5px solid #4376FC;"><i
                                class="fa fa-envelope"></i> Email</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-md-5 col-lg-5">
                    <figure class="col-img40 margin-bottom40 animation" data-animation="animation-fade-in-right">
                        <img src="{{ asset('images/Conduction-website_losgeknipt_0012_afb13.png') }}"></figure>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- .wrap-container end -->


    <!-- .wrap-container -->
    <div class="wrap-container8040">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">


                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h1 style="color: #4386FB">Marleen</h1>
                            <h4 style="color: #4386FB">Creatief. Verbindend en houdt iedereen scherp.</h4>


                        <p>Marleen is onderzoekend. Met een kleine dosis technical skills, een
                            onuitputtelijke nieuwsgierigheid en een creatieve insteek, onderzoekt zij een vraagstuk/de
                            markt. Om zo alle mogelijkheden te kunnen benutten die tot (online) groei en verbinding
                            kunnen leiden.</p>
                        &nbsp; &nbsp; <br>
                            <br>
                        <a href="https://www.linkedin.com/in/marleen-romijn-45a45054/" style="margin-right: 20px; font-weight: bold; text-transform: uppercase; font-size: 15px ;color: #4376FC; padding: 7.5px 15px 7.5px 15px; border-radius: 25px; border: 2.5px solid #4376FC;"><i class="fab fa-linkedin"> </i> LinkedIn</a>

                        &nbsp; &nbsp;
                        <a href="mailto:marleen@conduction.nl" style="font-weight: bold; text-transform: uppercase; font-size: 15px ;color: #4376FC; padding: 7.5px 15px 7.5px 15px; border-radius: 25px; border: 2.5px solid #4376FC;"><i
                                class="fa fa-envelope"></i> Email</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-md-5 col-lg-5">
                    <figure class="col-img40 margin-bottom40 animation" data-animation="animation-fade-in-right">
                        <img src="{{ asset('images/Conduction-website_losgeknipt_0011_afb12.png') }}"></figure>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>

    <div class="wrap-container8040 bg-grey">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">


                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h1 style="color: #4386FB">Robert</h1>
                            <h4 style="color: #4386FB"> Observant. Developer met scherpe zintuigen.</h4>


                        <p>Robert is een toegewijde developer en er ontgaat hem niks. Puzzelen
                            met code en tot een gerichte oplossing komen, daar wordt hij heel blij van. </p>
                            &nbsp; &nbsp; <br>
                            <br>
                        <a href="https://www.linkedin.com/in/robert-zondervan-21ab85193/" style="margin-right: 20px; font-weight: bold; text-transform: uppercase; font-size: 15px ;color: #4376FC; padding: 7.5px 15px 7.5px 15px; border-radius: 25px; border: 2.5px solid #4376FC;"><i class="fab fa-linkedin"> </i> LinkedIn</a>


                        <a href="mailto:robert@conduction.nl" style="font-weight: bold; text-transform: uppercase; font-size: 15px ;color: #4376FC; padding: 7.5px 15px 7.5px 15px; border-radius: 25px; border: 2.5px solid #4376FC;"><i
                                class="fa fa-envelope"></i> Email</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-md-5 col-lg-5">
                    <figure class="col-img40 margin-bottom40 animation" data-animation="animation-fade-in-right">
                        <img src="{{ asset('images/Conduction-website_losgeknipt_0013_afb14.png') }}"></figure>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- .wrap-container end -->

    <!-- .wrap-container -->
    <div class="wrap-container8040">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">


                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h1 style="color: #4386FB">Barry</h1>
                            <h4 style="color: #4386FB">Aanpakker. Developer die van aanpakken weet.</h4>

                        <p> Barry is nieuwsgierig en open. Hij heeft een enorme
                            drive. He gets things done! </p>
                            <br>
                            <br>
                        <a href="mailto:barry@conduction.nl" style="font-weight: bold; text-transform: uppercase; font-size: 15px ;color: #4376FC; padding: 7.5px 15px 7.5px 15px; border-radius: 25px; border: 2.5px solid #4376FC;"><i
                                class="fa fa-envelope"></i> Email</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-md-5 col-lg-5">
                    <figure class="col-img40 margin-bottom40 animation" data-animation="animation-fade-in-right">
                        <img src="{{ asset('images/Conduction-website_losgeknipt_0014_afb15.png') }}"></figure>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>

    <div class="wrap-container8040 bg-grey">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">


                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h1 style="color: #4386FB">Stagiaires </h1>
                            <h4 style="color: #4386FB">Leergier. Open en ready to learn.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>

    <div id="contact" class="wrap-container80 bg-color">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">


                <div class="col-md-6">
                    <div class="post-heading-center">
                        <h4>Conduction blauw past bij jou!</h4>
                        <h2 style="color: white"> Ook werken of stage bij Conduction?</h2>
                        <p>Wij zijn altijd op zoek naar gedreven , originele vakfanaten, pioniers en creatievelingen (to
                            be). Voel je je aangesproken? Neem vooral contact met ons op! :) </p>

                    </div>
                </div>

                <div class="col-md-6">
                    <form action="/team" method="post" class="affa-form-contact">
                        <div class="submit-status"></div> <!-- submit status -->
                        <input type="text" name="name" placeholder="Your Name"/>
                        <input type="text" name="email" placeholder="Email Address *"/>
                        <textarea name="message" placeholder="Message *"></textarea>
                        <button type="submit" name="submit" class=" btn-block btn-custom2" style="padding: unset;">Mail
                            ons
                        </button>
                    </form>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>


{% endblock %}


