{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block headercontent %}
    <!-- .header-content -->
    <div class="header-content">

        <!-- .container -->
        <!-- /.container -->
    </div><!-- /.header-content -->
{% endblock %}

{% block body %}
    <div class="wrap-container8040 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h2 id="verhuizen" style="color: #4386FB">Verzoek Registratie Component</h2>
                            <a href="https://github.styleci.io/repos/198549754" target="_blank"><img src="https://github.styleci.io/repos/198549754/shield?branch=master" alt="StyleCI"></a>
                            <a href="https://github.com/ConductionNL/verzoekregistratiecomponent/actions?query=workflow%3ADocker+Image+CI" target="_blank"><img src="https://github.com/ConductionNL/verzoekregistratiecomponent/workflows/Docker%20Image%20CI/badge.svg?branch=master" alt="github"></a>

                            <p>De verzoeken catalogus bevat zowel het eind als tussenresultaat van een proces. 
                            Of om het iets simpeler te zeggen een proces schrijft bij iedere stap zijn variabelen weg naar een verzoek. 
                            Daarmee is het proces stateless en het verzoek stateful. 
                            In deze zin is een verzoek vergelijkbaar met een proces token in bijvoorbeeld BPMN- engines.</p>  

                            <p>Hierdoor is het mogelijk om verzoeken uit te wisselen tussen processen. 
                            Het is bijvoorbeeld mogelijk om via een chatbot een proces te draaien dat het verzoektype verhuizen gebruikt om een verzoek aan te maken, 
                            maar het ondertekenen van dit verzoek te laten doen via het webformulier.</p>

                            <p>Vanuit deze gedachte bevat een verzoek dus alle variabelen die horen bij de klantreis gekoppeld aan een verzoektype. 
                            Waarbij uiteindelijk het verzoek type doorslaggevend is voor de validiteit en de processen alleen de manier van aanleveren bepalen.</p>

                            <p>Dit betekent ook dat verzoeken een nog niet afgeronde klantreis kan zijn, ofwel gebruikers kunnen hun klantreis parkeren en later vervolgen. 
                            Het betekent ook dat deze klantreizen in principe inzichtelijk zijn voor de aanbieder (gemeente), met andere woorden als een gebruiker in een formulier vast loopt, 
                            kan hij/zij de helpdesk bellen en kan een helpdeskmedewerker meekijken en aanvullen. Sterker nog, 
                            doordat wijzigingen aan verzoeken op gebruikersniveau worden gelogd en het indienen een losse actie is, 
                            zou het ook denkbaar zijn dat een medewerker of externe partij een verzoek klaarzet voor een gebruiker om te controleren en te ondertekenen.</p> 

                            <p>Dit maakt het mogelijk om bijvoorbeeld een verhuizer een verhuismelding te laten klaar zetten voor de gebruiker die de gebruiker overneemt, ondertekent en instuurt.  
                            Of bijvoorbeeld een aannemer die een bouwvergunning voor een dakkapel klaarzet.</p>

                            <p>Overigens hoeft een verzoek niet zijn grondslag te vinden in een proces (bijvoorbeeld vanuit de processen catalogus). 
                            De enige randvoorwaarde van een verzoek is dat deze op het moment van indienen voldoet aan de voorwaarde van het bijbehorende verzoektype.</p>

                            <p>Het is derhalve goed denkbaar dat simpele verzoeken worden ingeschoten en ondertekend door IOT devices zo als een lantaarnpaal die zelf meldt dat hij kapot is.</p>

                            <br>
                            <br>
                            <img src="{{ asset('images/trouwen.png') }}" width="110px">
                            <img src="{{ asset('images/verhuizen.png') }}" width="110px" style="margin-left: 30px">
                            <img src="{{ asset('images/overlijden.png') }}" width="110px" style="margin-left: 30px">
                            <br>
                            <br>
                            <a href="https://github.com/ConductionNL/verzoekregistratiecomponent" class="btn-custom btn-more-link " target="_blank"> Bekijk repository</a>
                            <a href="#" class="btn-custom btn-more-link " target="_blank"> bekijk documentatie</a>
                        </div><!-- ./col-heading -->
                    </div><!-- ./col-text -->
                </div><!-- ./col -->
                <div class="col-sm-10 col-md-5 col-lg-5">
                    <img src={{ asset('images/content/Componenten/vrc/1280w/Blauw_vlak.png') }} width="100%">
                </div><!-- ./col -->
            </div><!-- ./row -->
        </div><!-- ./container -->
    </div><!-- ./wrap-container -->


    {{ include('/widgets/contact.html.twig') }}


{% endblock %}

