{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block headercontent %}
    <!-- .header-content -->
    <div class="header-content">

        <!-- .container -->
        <!-- /.container -->
    </div><!-- /.header-content -->
{% endblock %}

{% block body %}
    <div class="wrap-container8040 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h2 id="verhuizen" style="color: #4386FB">Web Resource Catalogus</h2>
                            <a href="https://github.styleci.io/repos/206145646" target="_blank"><img src="https://github.styleci.io/repos/206145646/shield?branch=master" alt="StyleCI"></a>
                            <a href="https://github.com/ConductionNL/webresourcecatalogus/actions?query=workflow%3A"Docker+Image+CI"" target="_blank"><img src="https://github.com/ConductionNL/webresourcecatalogus/workflows/Docker%20Image%20CI/badge.svg?branch=master" alt="github"></a>
                
                            <p>Het WRC bevat de resources die nodig zijn voor het draaien van een applicatie zoals sjablonen, routing, menu’s en afbeeldingen. 
                            Het heeft hierbij de doelstelling om te fungeren als een “headless CMS” ofwel een CMS als API die losstaat van enige vorm van weergave. 
                            Voor het bewerken van de CMS content leunt het WRC dan ook op de Dashboard (een implementatie van de Proto Applicatie), 
                            en het fungeert zelf als een bron voor een Applicatie.</p>

                            <p>Door het gescheiden houden van opslag en bewerking, is het mogelijk om vanuit één dashboard de inhoud van meerdere applicaties te beheren. 
                            Heel praktisch en levert ook meer overzicht op, zo zou een sjabloon kunnen worden gebruikt in verschillende applicaties en websites. 
                            Dit is bijvoorbeeld handig bij algemene informatie of FAQ’s.</p> 

                            <p>Een extra handigheid van het WRC is dat het meertaligheid op resources ondersteunt en dat maakt het mogelijk om content in meerdere talen aan te maken en te beheren. 
                            Het maakt tevens inzichtelijk welke content al wel en welke content nog niet vertaald is. 
                            Waarmee compliancy aan de WCAG norm voor tweetaligheid kan worden opgevolgd.</p>

                            <p>Met betrekking tot vormgeving biedt het WRC twee belangrijke functionaliteiten aan applicaties, om te beginnen kunnen templates worden “verlengd en uitgebreid”. 
                            Dat betekent bijvoorbeeld dat een applicatie gebruik zou kunnen maken van NL Design, maar hier via het WRC een eigen smaak aan toe kan voegen. 
                            Doordat het WRC kan delen tussen applicaties, 
                            is het hiermee voor een organisatie tevens mogelijk om één consistente huisstijl te voeren voor meerdere applicaties. 
                            Daarnaast biedt het WRC een mogelijkheid tot CDN, ofwel het verplaatsen van statische content van een applicatie naar een externe bron. 
                            Hiermee wordt het dataverkeer op een applicatie zelf lager en daarmee sneller. Het betekent ook dat op applicatie niveau, 
                            logica en statische content uit elkaar kunnen worden getrokken en fysiek op andere (gespecialiseerde) machines kunnen worden geplaatst.</p> 

                            <br>
                            <br>
                            <img src="{{ asset('images/trouwen.png') }}" width="110px">
                            <img src="{{ asset('images/verhuizen.png') }}" width="110px" style="margin-left: 30px">
                            <img src="{{ asset('images/overlijden.png') }}" width="110px" style="margin-left: 30px">
                            <br>
                            <br>
                            <a href="https://github.com/ConductionNL/webresourcecatalogus" class="btn-custom btn-more-link " target="_blank"> Bekijk repository</a>
                            <a href="#" class="btn-custom btn-more-link " target="_blank"> bekijk documentatie</a>
                        </div><!-- ./col-heading -->
                    </div><!-- ./col-text -->
                </div><!-- ./col -->
                <div class="col-sm-10 col-md-5 col-lg-5">
                    <img src={{ asset('images/content/Componenten/wrc/1280w/Lichtblauw_vlak.png') }} width="100%">
                </div><!-- ./col -->
            </div><!-- ./row -->
        </div><!-- ./container -->
    </div><!-- ./wrap-container -->


    {{ include('/widgets/contact.html.twig') }}


{% endblock %}

