<div class="modal modal--backdrop" role="dialog" id="feedbackModal" tabindex="-1" aria-describedby="modal-description3">
    <section class="modal__content" role="document">
        <div id="modal-description3" class="screenreader-only">
            Dit is de beschrijving van de <span lang="en-US">modal</span>. De Escape knop annuleert en sluit het venster.
        </div>
        <header class="modal__title">
            <h1>Heeft u een tip voor ons ?</h1>
            <button class="modal__close-button">
                <i class="icon icon-cross"></i>
                Sluit
            </button>
        </header>
        <div class="modal__body" tabindex="0" lang="en-US">
            <div class="skiplink-target content" id="main-content">
                <form method="post">
                    <div class="input">
                        <label class="input__label" for="titel">Titel</label>
                        <input required="" id="titel" name="properties[titel]" type="text" class="input__control input__control--l input__control--text">
                    </div>
                    <div class="input">
                        <label class="input__label" for="tekst">Beschrijf uw idee</label>
                        <textarea required="" id="tekst" name="properties[tekst]" class="input__control input__control--l input__control--text"></textarea>
                    </div>
                    {#
                    <div class="input input--horizontal">
                        <input type="file" id="bijlage" class="input__control--file" name="properties[bijlage]" aria-describedby="input-upload-hint">
                        <span class="btn" role="button">Bestand uploaden</span> <span id="fileName"></span>
                    </div>
                    #}

                    {% if app.user.person is defined and app.user.person is not empty %}
                        <div class="input input--text">
                            <input id="@type" name="properties[contact]" value="{{ app.user.person }}" type="hidden" class="input__control input__control--m">
                        </div>
                    {% elseif session.person is defined and session.person is not empty %}
                        <div class="input input--text">
                            <input id="@type" name="properties[contact]" value="{{ session.person }}" type="hidden" class="input__control input__control--m">
                        </div>
                    {% else %}
                        <div>
                            <h2>Uw contact gegevens</h2>
                            <div class="row" style="margin-bottom: 40px">
                                <div class="col-md-4">
                                    <label class="input__label" for="voornaam">Voornaam</label>
                                    <input class="input__control input__control--text" style="width: 100%" type="text" name="properties[contact][givenName]">
                                </div>

                                <div class="col-md-3">
                                    <label class="input__label" for="achternaam">Tussenvoegels</label>
                                    <input class="input__control input__control--text" style="width: 100%" type="text" name="properties[contact][additionalName]">
                                </div>

                                <div class="col-md-5">
                                    <label class="input__label" for="achternaam">Achternaam</label>
                                    <input class="input__control input__control--text" style="width: 100%" type="text" name="properties[contact][familyName]">
                                </div>
                            </div>

                            <div class="input">
                                <label class="input__label" for="email">Email</label>
                                <input required="" class="input__control input__control--l input__control--text" type="email" name="properties[contact][emails][0][email]">
                            </div>

                            <div class="input">
                                <label class="input__label" for="telephone">Telefoonnummer</label>
                                <input class="input__control input__control--l input__control--text" type="tel" name="properties[contact][telephones][0][telephone]">
                            </div>

                        </div>
                    {% endif %}

                    <div class="input input--text">
                        <input id="@type" name="@type" value="requests" type="hidden" class="input__control input__control--m">
                    </div>
                    <div class="input input--text">
                        <input id="@component" name="@component" value="vrc" type="hidden" class="input__control input__control--m">
                    </div>
                    <div class="input input--text">
                        <input id="requestType" name="requestType" value="{{ commonground_cleanurl({"component":"vtc", "type":"request_types", "id":"d92f1462-6a69-449f-8491-e6038af5ca82"}) }}" type="hidden" class="input__control input__control--m">
                    </div>
                    <div class="input input--text">
                        <input id="processType" name="processType" value="{{ commonground_cleanurl({"component":"ptc", "type":"process_types", "id":"1e814be2-1a60-4869-9386-053826de19c4"}) }}" type="hidden" class="input__control input__control--m">
                    </div>
                    <div class="input input--text">
                        <input id="organization" name="organization" value="{{ commonground_cleanurl({"component":"wrc", "type":"organizations", "id":"c571bdad-f34c-4e24-94e7-74629cfaccc9"}) }}" type="hidden" class="input__control input__control--m">
                    </div>

                    <div class="input">
                        <button type="submit" class="btn">Bevestig</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<script>
    var feedbackModal;
    // Load modal component
    System.import('/uno/components/modal/modal.js').then(function (module) {
        feedbackModal = new module.Modal(document.getElementById('feedbackModal'));
    });

    // Called when the user clicks the button
    function openModalFeedback() {
        feedbackModal.open();
    }
</script>
