Beste {{% if receiver.givenName is defined  %}{{ receiver.givenName }}{% endif %},

<p>Welkom bij checkin!</p>

<p>Uw verzoek tot deelname van checkin met referentie {{ resource.reference }} is met succes ingediend.</p>

<p>U kunt nu inloggen op https://www.checking.nu/ met de volgende inlognaam: {% if receiver.emails|length >0 %}{% set receiverEmail = receiver.emails[0] %}{% endif %}{% if receiverEmail is defined and receiverEmail is not empty %}{{ receiverEmail.email }}{% endif %}, vanuit veiligheids overwegingen ontvangt u uw wachtwoord in een seperate email</p>

{% set organization = commonground_resource(resource.properties['organization']) %}
<p>De door u opgegeven gegevens van uw organisatie:
    <br>Naam: {{organization.name}}
    <br>Kvk: {% if organization.kvk is defined and organization.kvk is not empty %}{{organization.kvk}}{% else %}Niet opgegeven{% endif %}
</p>

<p>Voorbeeld QR-Code</p>
<p>Algemene voorwaarden.</p>
<p>Verwerkings overeenkomst.</p>

<p>Met vriendelijke groet,</p>
{% if sender.name is defined  %}{{ sender.name }}{% endif %}
