{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}

    {% set headerimg = commonground_resource(application.defaultConfiguration.configuration.headerimg) %}
    <div class="row background--primary background--image" style="margin-top: -20px; background: url(data:image/file;base64,{{headerimg['base64']}})">
        <div class="container" >
            <div class="col-md-4 col-md-offset-8" style="height: 200px; position:relative;">
                <div class="content-background background--secondary" style="position: absolute; bottom:0;">
                    <div class="content">
                        <h2>{{ 'news'|trans|capitalize }}</h2>
                        <ul class="list list--links list--chevrons">
                            {% if application.defaultConfiguration.configuration.news is defined %}
                                {% set news = commonground_resource(application.defaultConfiguration.configuration.news) %}
                                {% set templates = commonground_resource_list({'component': 'wrc', 'type': 'templates'},{'templateGroups.id':news.id,'limit':4,'order[dateCreated]':'desc'})['hydra:member'] %}
                                {% for template in templates %}
                                    <li><a href="/article?id={{ template.id }}" style="text-decoration: none;">{{ template.title }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.content-background -->
            </div><!-- /.col -->
        </div><!-- /.container -->
    </div><!-- /.row -->

    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-12">
                <ul class="list list--card">
                    <li class="card background--primary card__hover">
                        <a href="{{ path('app_ptc_process_stage',{"id":"5b10c1d6-7121-4be2-b479-7523f1b625f1"}) }}" class="card__content">
                            <div class="card__icon flex-center color--primary"><i class="fas fa-rings-wedding fa-4x"></i></div>
                            <div class="card__body flex-center"><span class="card__title color--primary flex-center">Trouwen</span></div>
                        </a>
                    </li>
                    <li class="card background--primary card__hover flex-center">
                        <a href="{{ path('app_ptc_process_stage',{"id":"ca8c1ad6-7a1d-49d8-ae0a-d0e77f0526e3"}) }}" class="card__content">
                            <div class="card__icon flex-center color--primary"><i class="fas fa-exclamation fa-4x"></i></div>
                            <div class="card__body flex-center"><span class="card__title color--primary ">Trouwambtenaar voor een dag</span></div>
                        </a>
                    </li>
                    <li class="card background--primary card__hover flex-center">
                        <a href="{{ path('app_ptc_process_stage',{"id":"993cefcc-de42-46f5-9289-5f24df5dd3c7"}) }}" class="card__content">
                            <div class="card__icon flex-center color--primary"><i class="fas fa-parking fa-4x"></i> </div>
                            <div class="card__body flex-center"><span class="card__title color--primary">Trouwlocatie voor een dag</span></div>
                        </a>
                    </li>
                    <li class="card background--primary card__hover flex-center">
                        <a href="{{ path('app_ptc_process_stage',{"id":"993cefcc-de42-46f5-9289-5f24df5dd3c7"}) }}" class="card__content">
                            <div class="card__icon flex-center color--primary"><i class="fas fa-parking fa-4x"></i> </div>
                            <div class="card__body flex-center"><span class="card__title color--primary">Melding voorgenomen huwelijk</span></div>
                        </a>
                    </li>
                </ul>

            </div><!-- /.col -->
            <div class="col-md-12">
                <h2>Alle onderwerpen</h2>
                <ul class="list list--subjects columns">
                {% if application.defaultConfiguration.configuration.news is about %}
                    {% set about = commonground_resource(application.defaultConfiguration.configuration.about) %}
                    {% set templates = commonground_resource_list({'component': 'wrc', 'type': 'templates'},{'templateGroups.id':about.id,'limit':4, 'order[dateCreated]':'desc'})['hydra:member'] %}
                    {% for template in templates %}
                        <li class="list__item">
                            <a href="/article?id={{ template.id }}" class="list__link">{{ template.title }}</a><br>
                            <p>{{ template.description }}</p>
                        </li>
                    {% endfor %}
                {% endif %}
                </ul>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->



{% endblock %}
