<p>{{ name }}</p>
<p>{{ adres }}</p>
<p></p>
<p>Betreft: Bewijs van uitgifte graf</p>
<p>Hoorn,</p>
<p>&nbsp;Geachte heer/vrouw {{ name }},&nbsp;</p>
<p>U ontvangt hierbij de Akte van grafrecht. Deze akte is het bewijs dat de gemeente het graf aan u heeft uitgegeven. Bewaar het document goed.</p>
<p>Op de achterkant van de akte staat een toelichting. Daarin kunt u onder andere lezen welke rechten en plichten u heeft met deze akte.</p>
<p>Wilt u grafbedekking plaatsen?</p>
<p>U mag een gedenkteken of beplanting plaatsen op het graf. Voor het plaatsen van een gedenkteken heeft u een vergunning van de gemeente nodig. De vergunning kunt u of uw steenhouwer aanvragen bij bureau Groen en Reiniging van de gemeente. De gemeente rekent geen kosten voor de aanvraag en de vergunning.</p>
<p>Op www.hoorn.nl/grafbedekking kunt u lezen aan welke eisen het gedenkteken moet voldoen en hoe u de vergunning aanvraagt. Voor beplanting op het graf heeft u geen vergunning nodig. U moet de grafbedekking netjes onderhouden en alles moet binnen de maat blijven.</p>
<p>Heeft u nog vragen?</p>
<p>Neemt u dan contact op met mevrouw {{ employee }} via 0229-252200 of gemeente@hoorn.nl.</p>
<p>Met vriendelijke groet,</p>
<p>{{ employee }}</p>
<p>Team Stadsbeheer</p>
<p></p>
<p>GEMEENTE HOORN</p>
<p>Akte Grafrecht: aktenummer</p>
<p>Algemene Begraafplaatsen Gemeente Hoorn</p>
<p>Burgemeester en Wethouders van de gemeente HOORN &nbsp;verklaren tot 21-01-2030 het recht tot begraven/bijzetten te hebben verleend aan:</p>
<p>Naam &nbsp;{{ name }}</p>
<p>&nbsp;</p>
<p>Adres &nbsp; {{ adres }}</p>
<p>&nbsp;&nbsp;</p>
<p>Voor het graf gelegen op de Algemene Begraafplaats Berkhouterweg Grafnummer, dit met uitsluiting van dit recht voor anderen.</p>
<p>Naast deze verklaring zijn de wettelijke regels en bepalingen in werking van de meest actuele:</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Wet op de lijkbezorging;</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Verordening Begraafrechten;</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Beheersverordening gemeentelijke begraafplaatsen Hoorn;</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Regels gemeentelijke begraafplaatsen.</p>
<p>Hoorn, dinsdag 09 juni 2020 namens burgemeester en wethouders van de gemeente Hoorn,</p>
<p>{{ owner }}</p>
<p>Teammanager Stadsbeheer</p>
<p></p>
<p></p>
<p>GEMEENTE HOORN</p>
<p>Wat betekent deze akte voor u?</p>
<p>U bent de enige die het grafrecht heeft van dit graf. Deze akte geeft u het recht om:</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>te bepalen wie in het graf mag worden begraven/bijgezet. Zonder uw toestemming begraaft de gemeente geen overledene in dit graf en plaatst geen urn in het graf;</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>te bepalen welk gedenkteken wordt geplaatst op het graf. Er mogen op dit graf alleen gedenktekens wordt geplaatst door u of in uw opdracht</p>
<p>Kan ik het grafrecht verlengen na de einddatum?</p>
<p>Ja, dat kan. De gemeente verlengt het grafrecht op uw verzoek. U kunt dit verzoek doen vanaf twee jaar voordat het grafrecht eindigt. U heeft de keuze het grafrecht met 5,1 0, 15 of 20 jaar te verlengen.</p>
<p>Kan de gemeente het grafrecht overschriiven naar een ander?</p>
<p>Ja, de gemeente kan op verzoek het recht overschrijven op naam van een ander persoon of een rechtpersoon. Een rechtspersoon is bijvoorbeeld een vereniging of een stichting. Er zijn twee mogelijkheden:</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>De gemeente schrijft het recht over als u dat verzoek doet. Dat verzoek moet u schriftelijk (per brief of e-mail) indienen;</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>De gemeente schrijft het recht over nadat u bent overleden. Daarvoor moeten uw erfgenamen of nabestaanden het verzoek indienen. Als zij dat niet hebben gedaan binnen 6 maanden na uw overlijden, vervalt het grafrecht aan de gemeente.</p>
<p>Welke voorwaarden zijn er voor het plaatsen van gedenktekens?</p>
<p>U heeft een vergunning nodig van de gemeente om een gedenkteken te plaatsen. Deze kunt u gratis aanvragen bij bureau Groen en Reiniging van de gemeente. Als een bedrijf het gedenkteken maakt, dan kan die de vergunning voor u aanvragen.</p>
<p>Op www.hoorn.nl/grafbedekking kunt u lezen hoe u de vergunning aanvraagt en aan welke eisen het gedenkteken moet voldoen. U kunt daarvoor ook bellen naar de gemeente Hoorn, telefoon 0229-252200 of e-mailen naar gemeente@hoorn.nl&nbsp;</p>
<p>Heb ik plichten die horen bii het graf?</p>
<p>U bent verantwoordelijk voor het onderhoud van de grafbedekking. Het graf moet er netjes uitzien.</p>
<p>Beplanting mag niet buiten het graf groeien en het gedenkteken mag er niet vervallen uitzien. De gemeente is niet aansprakelijk voor eventuele schade aan de grafbedekking of het gedenkteken.</p>
<p>Wat is de verordening Begraafrechten?</p>
<p>Dit zijn de regels voor het heffen van begraafplaatskosten. Hierin staat welke kosten de gemeente kan heffen.</p>
<p>Wat is de Beheersverordening gemeentelijke begraafplaatsen Hoorn?</p>
<p>Dit zijn de regels voor het dagelijks beheer van de begraafplaatsen van de gemeente Hoorn. Ze gaan onder andere over:</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>de orde en rust op de begraafplaatsen;</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>de uitgifte van de graven;</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>het onderhoud van de begraafplaatsen.</p>
<p>Wat ziin de Reqels gemeenteliike beqraafplaatsen?</p>
<p>Dit zijn beleidsregels voor het beheer van de begraafplaatsen. Ze gaan vooral over:</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>de afmetingen van de graven;</p>
<p>⦁<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>de toegestane gedenktekens en grafbedekking.</p>
<p>(Verordening en beleidsregels staan op www.wetten.overheid.nl)</p>

