{% set order = commonground_resource(resource) %}
{% set person = commonground_resource(order.customer) %}
{% set organization = commonground_resource(order.organization) %}

<h1>{{ organization.name }}</h1>

<h3>{{ 'persoonsgegevens'|trans|capitalize }}:</h3>
<p>{{ person.naam.voornamen }} {{ person.naam.geslachtsnaam }}</p>
<p>{{ person.verblijfplaats.straatnaam }} {{ person.verblijfplaats.huisnummer }}</p>
<p>{{ person.verblijfplaats.postcode }}</p>

<br>

<p>{{ 'reference'|trans|capitalize }}: {{ order.reference }}</p>
<p>{{ 'order date'|trans|capitalize }}: {{ order.dateCreated }}</p>

<br>

<table>
    <thead>
        <tr>
            <th>{{ 'name'|trans|capitalize }}</th>
            <th>{{ 'description'|trans|capitalize }}</th>
            <th>{{ 'quantity'|trans|capitalize }}</th>
            <th>{{ 'price'|trans|capitalize }}</th>
        </tr>
    </thead>
    <tbody>
    {% for item in order.items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<p style="float: right">{{ 'total'|trans|capitalize }}: {{ order.price }}</p>
