{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Organisaties</h1>
    <div class="row">
        <div class="col-sm-8">
            {% set organisaties = commonground_resource_list({'component': 'wrc', 'type': 'organizations'},{'order[dateCreated]':'desc'})['hydra:member'] %}
            {% if organisaties is not empty %}
            <ul class="list list--card list--card-small">
                {% for organisatie in organisaties %}
                    <li class="card card--small">
                        <div class="card__content">
                            <div class="card__thumb" style="background-image: url('https://picsum.photos/200')"></div>
                            <div class="card__body">
                                <div class="row" style=" height: 100%; width: 100%;">
                                    <div class="col-sm-8" style="padding-right: 0px;">
                                        <span class="card__title">{{ organisatie.name }}</span><br>
                                        <span>{{ organisatie.description }}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="float: right;">
                                            <div style="display: flex; flex-direction: column; justify-items: center;">
                                                <p style="margin: 0;">Naam: {{ organisatie.name }}</p>
                                                <p style="margin: 0;">Rsin: {{ organisatie.rsin|date("d-m-Y H:i", "Europe/Paris") }}</p>
                                                <a href="{{ path('app_education_organisatie', {id: organisatie.id}) }}">lees meer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {% else %}
                    <p>Er zijn op dit moment geen organisaties</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
