{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <header class="content__header">
        <a class="backlink" href="/organisaties">Organisaties</a>
    </header>
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <div class="content-background">
                <div class="content ">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>{{ resource.name|capitalize }}</h1>
                            <p>{{ resource.description|capitalize }}</p>
                            {% if resource.selectionCritera is defined and resource.selectionCritera is not empty %}
                                <b>Selectie criteria: </b>{{ resource.selectionCritera|capitalize }}
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <img src="https://picsum.photos/350/250" alt="tender" width="100%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="collapse" role="status">
                                <div x-uno-collapse="" class="collapse__header">
                                    <i class="collapse__indicator">
                                        <span class="screenreader-only" data-contracted-i18n="ingeklapt"
                                              data-expanded-i18n="uitgeklapt"></span>
                                    </i>
                                    <span class="collapse__title">Inschrijvingen</span>
                                </div>
                                <div class="collapse__details collapse__details--closed">
                                    {% if resource.entries is defined and resource.entries is not empty %}
                                        <ul class="list list--card list--card-small">
                                            {% for entry in resource.entries %}
                                                <li class="card card--small">
                                                    <div class="card__content">
                                                        <div class="card__body">
                                                            <div class="row" style=" height: 100%; width: 100%;">
                                                                <div class="col-sm-12"
                                                                     style="padding-right: 0px;">
                                                            <span
                                                                class="card__title">Inschrijving van {% for submitter in entry.submitters %}{{ submitter }}{% endfor %}</span>
                                                                    {% if entry.description is defined and entry.description is not empty %}
                                                                        <br>
                                                                        <span>{{ entry.description }}</span>
                                                                    {% endif %}
                                                                    {% if entry.dateOfEntry is defined and entry.dateOfEntry is not empty %}
                                                                        <br>
                                                                        <span>{{ entry.dateOfEntry|date("d-m-Y H:i", "Europe/Paris") }}</span>
                                                                    {% endif %}
                                                                </div>
                                                                {#                                                <div class="col-sm-12 col-md-6">#}
                                                                {#                                                    <div>#}
                                                                {#                                                        <div style="display: flex; flex-direction: column; justify-items: center;">#}
                                                                {#                                                            <p style="margin: 0; color: grey;">benodigd budget: 150000.00 <i style="color: grey" class="fas fa-euro-sign" aria-hidden="true"></i></p>#}
                                                                {#                                                            <p style="margin: 0;">ingediend op: 06-07-2020 15:50</p>#}
                                                                {#                                                            <a href="/chrc/pitches/0450beeb-093e-4df8-8f2e-99dd645439c9">lees meer</a>#}
                                                                {#                                                        </div>#}
                                                                {#                                                    </div>#}
                                                                {#                                                </div>#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p style="color:lightgray">Er zijn nog geen inschrijvingen.</p>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="collapse" role="status">
                                <div x-uno-collapse="" class="collapse__header">
                                    <i class="collapse__indicator">
                                        <span class="screenreader-only" data-contracted-i18n="ingeklapt"
                                              data-expanded-i18n="uitgeklapt"></span>
                                    </i>
                                    <span class="collapse__title">Vragen over deze student</span>
                                </div>
                                <div class="collapse__details collapse__details--closed">
                                    {% if resource.questions is defined and resource.questions is not empty %}
                                        <ul class="list list--card list--card-small">
                                            {% for question in resource.questions %}
                                                <li class="card card--small">
                                                    <div class="card__content">
                                                        <div class="card__body">
                                                            <div class="row" style=" height: 100%; width: 100%;">
                                                                <div class="col-sm-12 col-md-6"
                                                                     style="padding-right: 0px;">
                                                                <span
                                                                    class="card__title">"{{ question.question }}"</span>
                                                                    {% if question.submitter is defined and question.submitter is not empty %}
                                                                        <br>
                                                                        <span>Vraag gesteld door {% for submitter in question.submitters %}{{ submitter }}{% endfor %}</span>
                                                                    {% endif %}

                                                                    <br>
                                                                    <span>Ingediend op {{ question.created|date("d-m-Y H:i", "Europe/Paris") }}</span>

                                                                </div>
                                                                <div class="col-sm-12 col-md-6">
                                                                    <div>
                                                                        <div>
                                                                            <a href="{{ path('app_tender_question', {id: question.id}) }}"
                                                                               rel="noopener" class="btn btn--primary"
                                                                               target="_blank">Bekijk de vraag en
                                                                                antwoord(en).<span
                                                                                    class="btn__icon icon icon-arr-forward"
                                                                                    title="" role=""></span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p style="color:lightgray">Er zijn nog geen vragen.</p>
                                    {% endif %}

                                    <div class="collapse" role="status">
                                        <div x-uno-collapse="" class="collapse__header">
                                            <i class="collapse__indicator">
                                        <span class="screenreader-only" data-contracted-i18n="ingeklapt"
                                              data-expanded-i18n="uitgeklapt"></span>
                                            </i>
                                            <span class="collapse__title">Stel een vraag</span>
                                        </div>
                                        <div class="collapse__details collapse__details--closed">
                                            <div class="input">
                                                <label class="input__label" for="textarea_voorbeeld">Uw vraag:</label>
                                                <textarea id="textarea_voorbeeld"
                                                          class="input__control input__control--l input__control--text"></textarea>
                                            </div>

                                            <div class="input">
                                                <button type="submit" class="btn btn--primary">Verstuur</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="collapse" role="status">
                                <div x-uno-collapse="" class="collapse__header">
                                    <i class="collapse__indicator">
                                        <span class="screenreader-only" data-contracted-i18n="ingeklapt"
                                              data-expanded-i18n="uitgeklapt"></span>
                                    </i>
                                    <span class="collapse__title">Initiatieven</span>
                                </div>
                                <div class="collapse__details collapse__details--closed">
                                    {% if resource.pitches is defined and resource.pitches is not empty %}
                                        <ul class="list list--card list--card-small">
                                            {% for pitch in resource.pitches %}
                                                <li class="card card--small">
                                                    <div class="card__content">
                                                        <div class="card__body">
                                                            <div class="row" style=" height: 100%; width: 100%;">
                                                                <div class="col-sm-12 col-md-6"
                                                                     style="padding-right: 0px;">
                                                                    <span
                                                                        class="card__title">Initiatief van {% for submitter in pitch.submitters %}{{ submitter }}{% endfor %}</span>

                                                                    {% if pitch.dateSubmitted is defined and pitch.dateSubmitted is not empty %}
                                                                        <br>
                                                                        <span>Ingediend op {{ pitch.dateSubmitted|date("d-m-Y H:i", "Europe/Paris") }}</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-sm-12 col-md-6">
                                                                    <div>
                                                                        <div
                                                                            style="display: flex; flex-direction: column; justify-items: center;">
                                                                            <a href="{{ path('app_tender_pitch', {id: pitch.id}) }}"
                                                                               rel="noopener" class="btn btn--primary"
                                                                               target="_blank">Lees hier meer over dit
                                                                                initiatief<span
                                                                                    class="btn__icon icon icon-arr-forward"
                                                                                    title="" role=""></span></a>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p style="color:lightgray">Er zijn nog geen initiatieven.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="collapse" role="status">
                                <div x-uno-collapse="" class="collapse__header">
                                    <i class="collapse__indicator">
                                        <span class="screenreader-only" data-contracted-i18n="ingeklapt"
                                              data-expanded-i18n="uitgeklapt"></span>
                                    </i>
                                    <span class="collapse__title">Voorstellen</span>
                                </div>
                                <div class="collapse__details collapse__details--closed">
                                    {% if resource.proposals is defined and resource.proposals is not empty %}
                                        <ul class="list list--card list--card-small">
                                            {% for proposal in resource.proposals %}
                                                <li class="card card--small">
                                                    <div class="card__content">
                                                        <div class="card__body">
                                                            <div class="row" style=" height: 100%; width: 100%;">
                                                                <div class="col-sm-12 col-md-6"
                                                                     style="padding-right: 0px;">
                                                                    <span
                                                                        class="card__title">Voorstel van {% for submitter in proposal.pitch.submitters %}{{ submitter }}{% endfor %}</span>

                                                                    {% if proposal.created is defined and proposal.created is not empty %}
                                                                        <br>
                                                                        <span>Ingediend op {{ proposal.created|date("d-m-Y H:i", "Europe/Paris") }}</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-sm-12 col-md-6">
                                                                    <div>
                                                                        <div
                                                                            style="display: flex; flex-direction: column; justify-items: center;">
                                                                            <a href="{{ path('app_tender_proposal', {id: proposal.id}) }}"
                                                                               rel="noopener" class="btn btn--primary"
                                                                               target="_blank">Lees hier meer over dit
                                                                                voorstel<span
                                                                                    class="btn__icon icon icon-arr-forward"
                                                                                    title="" role=""></span></a>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p style="color:lightgray">Er zijn nog geen voorstellen.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="content-background">
                <div class="content ">
                    <h1>Kenmerken</h1>
                    {% if resource.submitters is defined and resource.submitters is not empty %}
                        <b>Aangemaakt
                            door:</b>{% for submitter in resource.submitters %} {{ submitter }},{% endfor %}
                        <br>
                    {% endif %}
                    {% if resource.dateSubmitted is defined and resource.dateSubmitted is not empty %}
                        <b>Ingediend op: </b>{{ resource.dateSubmitted|date("d-m-Y H:i", "Europe/Paris") }}
                        <br>
                    {% endif %}
                    {% if resource.budget is defined and resource.budget is not empty %}
                        <b>Beschikbaar budget: </b>&euro; {{ resource.budget }},-
                        <br>
                    {% endif %}
                    {% if resource.dateClose is defined and resource.dateClose is not empty %}
                        <b>Datum van beëindiging: </b>{{ resource.dateClose|date("d-m-Y H:i", "Europe/Paris") }}
                        <br>
                    {% endif %}
                    {% if resource.kind is defined and resource.kind is not empty %}
                        <b>Type: </b>{{ resource.kind }}
                        <br>
                    {% endif %}
                    {% if resource.documents is defined and resource.documents is not empty %}
                        <br>
                        <h3>Documenten</h3>
                        <ul class="list list--links list--chevrons">
                            {% for document in resource.documents %}
                                <li><a href="#">{{ document }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
    </div>
    </div>

    <script>
        // Load collapse component
        System.import('/uno/components/collapse/collapse.js').then(function (module) {
            // Select all collapsible elements on the page
            var collapses = document.querySelectorAll('[x-uno-collapse]');
            // Initialize all collapses
            for (var i = 0; i < collapses.length; i++) {
                new module.Collapse(collapses.item(i));
            }
        });
    </script>

{% endblock %}
