{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}

    {% if app.user.person is defined and app.user.person is not empty %}
        {% set checkins =  commonground_resource_list({'component': 'chin', 'type': 'checkins'},{'user':app.user.person,'limit':1,'order[dateCreated]':'desc'})['hydra:member'] %}
    {% elseif session.person is defined and session.person is not empty %}
        {% set checkins =  commonground_resource_list({'component': 'chin', 'type': 'checkins'},{'person':session.person['@id'],'limit':1,'order[dateCreated]':'desc'})['hydra:member'] %}
    {% endif %}

<div class="row background--grijs-2">
    <div class="container">
        <div class="col-md-12">
            <div class="content">
                <header class="content__header" style="margin-top: 20px">
                    <h1 class="content__header-title">{{ 'personal'|trans|capitalize }}</h1>
                </header>
            </div><!-- ./content -->
        </div><!-- ./col -->
    </div><!-- ./container -->
</div><!-- ./row -->


<div class="row background--grijs-2">
    <div class="container">
    <aside class="col-xl-3 col-lg-4 col-md-3 col-sm-modal">
        <nav class="sidenav">
            {% if app.user.type is defined and app.user.type == 'organization' %}
                {% include 'uc/widgets/organizationMenu.html.twig' %}
            {% elseif app.user is defined and app.user is not empty %}
                {% include 'uc/widgets/menu.html.twig' %}
            {% elseif session.person is defined and session.person is not empty %}
                <div class="content-background">
                    <div class="content">
                        {% if session.person.name is defined and session.person.name is not empty %}
                            <div class="definition-list__item">
                                <b>{{ 'your name'|trans|capitalize }}:</b><br> {{ session.person.name }}
                            </div>
                        {% endif %}
                        {% if session.person.emails[0] is defined and session.person.emails[0] is not empty %}
                            {% set email = commonground_resource(session.person.emails[0]['@id']) %}
                            <div class="definition-list__item">
                                <b>{{ 'your e-mail'|trans|capitalize }}:</b><br> {{ email.email }} <br>
                            </div>
                        {% endif %}
                        {% if session.person.telephones[0] is defined and session.person.telephones[0] is not empty %}
                            {% set telephone = commonground_resource(session.person.telephones[0]['@id']) %}
                            <div class="definition-list__item">
                                <b>{{ 'your phone number'|trans|capitalize }}:</b><br> {{ telephone.telephone }} <br>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endif %}
        </nav>
    </aside>

    {% if app.user is defined and app.user is not empty %}
        <div class="col-xl-9 col-lg-8 col-md-9">
            <ul class="list list--card">
            {% if app.user.roles is defined and 'scope.lc.place.write' in app.user.roles %}

                <li class="card background--primary card__hover">
                    <a href="{{ path('app_chin_nodes') }}" class="card__content">
                        <div class="card__icon flex-center color--primary"><i
                                class="fas fa-map-marker-alt fa-4x"></i></div>
                        <div class="card__body flex-center"><span
                                class="card__title color--primary flex-center">{{ 'nodes'|trans|capitalize }}</span>
                        </div>
                    </a>
                </li>

                <li class="card background--primary card__hover">
                    <a href="{{ path('app_lc_places') }}" class="card__content">
                        <div class="card__icon flex-center color--primary"><i
                                class="fas fa-map-marker-alt fa-4x"></i></div>
                        <div class="card__body flex-center"><span
                                class="card__title color--primary flex-center">{{ 'places'|trans|capitalize }}</span>
                        </div>
                    </a>
                </li>

                <li class="card background--primary card__hover">
                    <a href="{{ path('app_wrc_organization') }}" class="card__content">
                        <div class="card__icon flex-center color--primary"><i
                                class="fas fa-map-marker-alt fa-4x"></i></div>
                        <div class="card__body flex-center"><span
                                class="card__title color--primary flex-center">{{ 'organization'|trans|capitalize }}</span>
                        </div>
                    </a>
                </li>

                <li class="card background--primary card__hover">
                    <a href="{{ path('app_orc_orders') }}" class="card__content">
                        <div class="card__icon flex-center color--primary"><i
                                class="fas fa-map-marker-alt fa-4x"></i></div>
                        <div class="card__body flex-center"><span
                                class="card__title color--primary flex-center">{{ 'subscribtion'|trans|capitalize }}</span>
                        </div>
                    </a>
                </li>

                <li class="card background--primary card__hover">
                    <a href="{{ path('app_bc_invoices') }}" class="card__content">
                        <div class="card__icon flex-center color--primary"><i
                                class="fas fa-map-marker-alt fa-4x"></i></div>
                        <div class="card__body flex-center"><span
                                class="card__title color--primary flex-center">{{ 'invoices'|trans|capitalize }}</span>
                        </div>
                    </a>
                </li>

                <li class="card background--primary card__hover">
                    <a href="{{ path('app_ptc_process',["id":"7ea9a041-d96f-4f4b-adc1-e1a46ea8463d"]) }}" class="card__content">
                        <div class="card__icon flex-center color--primary"><i
                                class="fas fa-map-marker-alt fa-4x"></i></div>
                        <div class="card__body flex-center"><span
                                class="card__title color--primary flex-center">{{ 'data request'|trans|capitalize }}</span>
                        </div>
                    </a>
                </li>

            {% else %}
                    {% if checkins is defined and checkins is not empty and checkins|length > 0 %}
                        <li class="card background--primary card__hover">
                            <a href="#" class="card__content" href="#" data-toggle="modal"
                               data-target="#myModal{{ checkins[0].id }}" onclick="openCheckinModal()">
                                <div class="card__icon flex-center color--primary"><i
                                        class="fas fa-qrcode fa-4x"></i>
                                </div>
                                <div class="card__body flex-center"><span
                                        class="card__title color--primary flex-center">{{ 'last checkin'|trans|capitalize }}</span>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                    <li class="card background--primary card__hover">
                        <a href="{{ path('app_chin_checkinuser') }}" class="card__content">
                            <div class="card__icon flex-center color--primary"><i
                                    class="fas fa-map-marker-alt fa-4x"></i></div>
                            <div class="card__body flex-center"><span
                                    class="card__title color--primary flex-center">{{ 'all checkins'|trans|capitalize }}</span>
                            </div>
                        </a>
                    </li>
                    <li class="card background--primary card__hover">
                        <a href="{{ path('app_ptc_process',["id":"7f5bd18e-e3dd-4864-a2fb-24d118462396"]) }}" class="card__content">
                            <div class="card__icon flex-center color--primary"><i
                                    class="fas fa-map-marker-alt fa-4x"></i></div>
                            <div class="card__body flex-center"><span
                                    class="card__title color--primary flex-center">{{ 'request data'|trans|capitalize }}</span>
                            </div>
                        </a>
                    </li>
            {% endif %}
                <li class="card background--primary card__hover">
                    <a href="{{ path('app_user_logout') }}" class="card__content">
                        <div class="card__icon flex-center color--primary"><i class="fas fa-unlock fa-4x"></i>
                        </div>
                        <div class="card__body flex-center"><span
                                class="card__title color--primary flex-center">{{ 'logout'|trans|capitalize }}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="col-md-9">
            <ul class="list list--card">
                {% if checkins|length > 0 %}
                    <li class="card background--primary card__hover">
                        <a href="#" class="card__content" href="#" data-toggle="modal"
                           data-target="#myModal{{ checkins[0].id }}" onclick="openCheckinModal()">
                            <div class="card__icon flex-center color--primary"><i
                                    class="fas fa-qrcode fa-4x"></i>
                            </div>
                            <div class="card__body flex-center"><span
                                    class="card__title color--primary flex-center">{{ 'last checkin'|trans|capitalize }}</span>
                            </div>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    </div><!-- /.container -->
</div><!-- /.row -->

    {% if checkins is defined and checkins is not empty and checkins|length > 0 %}
        {% include 'chin/modals/checkin_modal.html.twig' with { 'item':checkins[0] } %}
        <script>
            let checkingModal;
            // Load modal component
            System.import('/uno/components/modal/modal.js').then(function (module) {
                checkingModal = new module.Modal(document.getElementById('checkin-{{ checkins[0].id }}'));
            });

            // Called when the user clicks the button
            function openCheckinModal() {
                checkingModal.open();
            }

            {% if app.session.get('newcheckin') is defined and  app.session.get('newcheckin') %}
            // Lets always show the last login
            $(window).on('load', function () {
                setTimeout(
                    function () {
                        openCheckinModal();
                    }, 100);
            });
            {% endif %}

        </script>


    {% endif %}
 {% endblock %}
